{% extends 'base.html'%}
{% block title %}403. Proibido{% endblock title %}
{% block content %}
        <section class="featured">
            <div class="container"> 
                <div class="row mar-bot40">
                    <div class="col-md-6 col-md-offset-3">
                        
                        <div class="align-center">
                            <!-- <i class="fa fa-flask fa-5x mar-bot20"></i> -->
                            <i class="fa fa-bolt fa-5x mar-bot20"></i>
                            <h2 class="slogan">403</h2>
                            <h2>Prooibido</h2>

                            <p>Você não tem permissão para acessar esse emdereço.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}
