{% extends 'base.html' %}
{% load numberformat_br %}
{% block content %}
    {% if user.is_authenticated %}
      <div class="container">
        {% block page_title %}
          <br>
        {% endblock page_title %}
        {% if diretor %}
          <div class="row">
            <div class="panel panel-success">
              <div class="panel-heading">Pendentes a receber do dia 1ª de Jan a {{ hoje|date:'d/m/Y' }}</div>
              <div class="panel-body"> 
                <table class="table">
                <thead>
                  <tr>
                    <th style="text-align:left"><a href="{% url 'pagamentos_list' escola.id %}" >Pagamentos</a></th>
                    <th style="text-align:right"><a href="{% url 'inadimplentes_list' escola.id %}">Inadimplentes</a></th>
                  </tr>
                </thead>
              </table>
              </div>
                <!-- Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th style="text-align:center">Valor</th>
                    <th style="text-align:center">Data</th>
                    <th style="text-align:center">Responsável</th>
                  </tr>
                </thead>
                 <tbody>
                  {% for entrada in entradas_pendentes_qs %}
                   <tr>
                    {% if can_edit %}
                       <td style="text-align:center">
                        <a href="{% url 'pagamento_edit' escola.id entrada.id %}?list">
                          {{ entrada.valor|numberformat_br }}</a>
                       </td>
                    {% else %}
                      {{ entrada.valor|numberformat_br }}
                    {% endif %}
                     <td style="text-align:center">{{ entrada.data|date:'d/m/Y' }}</td>
                     <td style="text-align:center"> 
                      {% if entrada.contrato %}
                        {{ entrada.contrato.contratoaluno.responsavel.nome }}<br>
                      {% else %}
                        --
                      {% endif %}
                    </td>
                   </tr>
                   {% empty %}
                      Não há recebimentos pendentes
                  {% endfor %}
                 </tbody>
              </table>
            </div>
            <div class="panel panel-danger">
              <div class="panel-heading">Pendentes a pagar do dia 1ª de Jan a {{ hoje|date:'d/m/Y' }}</div>
              <div class="panel-body">
                <table class="table">
                <thead>
                  <tr>
                    <th style="text-align:left"><a href="{% url 'pagamentos_list' escola.id %}" >Pagamentos</a></th>
                    <th style="text-align:right"></th>
                  </tr>
                </thead>
              </table>
              </div>

              <!-- Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th style="text-align:center">Valor</th>
                    <th style="text-align:center">Data</th>
                    <th style="text-align:center">Categoria</th>
                  </tr>
                </thead>
               <tbody>
                {% for saida in saidas_pendentes_qs %}
                 <tr>
                  {% if can_edit %}
                     <td style="text-align:center">
                      <a href="{% url 'pagamento_edit' escola.id saida.id %}?list">
                        {{ saida.valor|numberformat_br }}</a>
                     </td>
                  {% else %}
                    {{ saida.valor|numberformat_br }}
                  {% endif %}
                   <td style="text-align:center">{{ saida.data|date:'d/m/Y' }}</td>
                   <td style="text-align:center">{{ saida.categoria.nome }}</td>
                 </tr>
                 {% empty %}
                    Não há pagamentos pendentes
                {% endfor %}
               </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="panel panel-success">
              <div class="panel-heading">Entradas {{ mes_corrente }} / {{ ano_corrente }}</div>
              <div class="panel-body"><small>Previsto, realizado e pendente no mês.</small> </div>

              <!-- Table -->
              <table class="table" >
                <thead>
                  <tr>
                    <th style="text-align:center">Previsto</th>
                    <th style="text-align:center">Realizado</th>
                    <th style="text-align:center">Pendente</th>
                  </tr>
                </thead>
               <tbody>
                 <tr>
                   <td style="text-align:center">{{ entradas|numberformat_br }}</td>
                   <td style="text-align:center">{{ entradas_realizadas|numberformat_br }}</td>
                   <td style="text-align:center">{{ entradas_pendentes|numberformat_br }}</td>
                 </tr>
               </tbody>
                
              </table>
            </div>

            <div class="panel panel-danger">
              <div class="panel-heading">Saídas {{ mes_corrente }} / {{ ano_corrente }}</div>
              <div class="panel-body"><small>Previsto, realizado e pendente no mês.</small> </div>

              <!-- Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th style="text-align:center">Previsto</th>
                    <th style="text-align:center">Realizado</th>
                    <th style="text-align:center">Pendente</th>
                  </tr>
                </thead>
               <tbody>
                 <tr>
                   <td style="text-align:center">{{ saidas|numberformat_br }}</td>
                   <td style="text-align:center">{{ saidas_realizadas|numberformat_br }}</td>
                   <td style="text-align:center">{{ saidas_pendentes|numberformat_br }}</td>
                 </tr>
               </tbody>
                
              </table>
            </div>
          
            <div class="panel panel-warning">
              <div class="panel-heading">Saldo {{ mes_corrente }} / {{ ano_corrente }}</div>
              <div class="panel-body"><small>Previsto, realizado e pendente no mês.</small> </div>

              <!-- Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th style="text-align:center">Previsto</th>
                    <th style="text-align:center">Realizado</th>
                    <th style="text-align:center">Pendente</th>
                  </tr>
                </thead>
               <tbody>
                 <tr>
                   <td style="text-align:center">{{ saldo_previsto|numberformat_br }}</td>
                   <td style="text-align:center">{{ saldo_realizado|numberformat_br }}</td>
                   <td style="text-align:center">{{ saldo_pendente|numberformat_br }}</td>
                 </tr>
               </tbody>
              </table>
            </div>
          </div>

 
<!--             <div class="row">

                  <div class="panel panel-success">
                    <div class="panel-heading">
                      Recebimentos mês {{ mes_corrente }} / {{ ano_corrente }} : meio usado para receber
                    </div>
                    <div class="panel-body">
                      <div id="chart_div_1"></div>
                    </div>
                  </div>

                  <div class="panel panel-danger">
                    <div class="panel-heading">
                      Pagamentos mês {{ mes_corrente }} / {{ ano_corrente }} : meio usado para pagar
                    </div>
                    <div class="panel-body">
                      <div id="chart_div_2"></div>
                    </div>
                  </div>
             </div>
          </div> -->
        {% endif %}
    {% else %}
        <div class="container">
          <h2 align=”right”>A Escola 4.0 começa na gestão da instituição </h2>
          <div class="jumbotron">
            <div class="container">
              <div class="col-md-4">
                <h5>Gestão dos Dados</h5>
                  <ul>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Cadastro de Alunos </li>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Cadastro de Responsáveis </li>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Cadastro de Autorizados </li>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Ficha do Aluno </li>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Relatório de aniversariantes </li>
                    <li> Histórico auditável </li>
                  </ul>
                <!-- <p><a class="btn btn-default" href="#" role="button">Detalhes &raquo;</a></p> -->
              </div>
              <div class="col-md-4">
                <h5>Gestão de Contratos</h5>
                  <ul>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Contratos de prestação de serviços educacionais  </li>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Contratos de pessoal  </li>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Cálculo de juros e multas </li>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Cálculo de descontos </li>
                    <li> Histórico auditável </li>
                  </ul>
                <!-- <p><a class="btn btn-default" href="#" role="button">Detalhes &raquo;</a></p> -->
              </div>
              <div class="col-md-4">
                <h5>Gestão de Pagamentos</h5>
                  <ul>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Contas a receber  </li>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Contas a pagar  </li>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Envio de recibos por email </li>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Impressão e download dos recibos </li>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Histórico auditável </li>
                  </ul>
               <!--  <p><a class="btn btn-default" href="#" role="button">Detalhes &raquo;</a></p> -->
              </div>
            </div>
          </div>
          <!-- Example row of columns -->
        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-4">
              <h5>Calendário de aulas</h5>
                <ul>
                  <li>Datas das provas por sala de aula</li>
                  <li>Datas dos compromissos financeiros dos Responsáveis dos alunos</li>
                  <li>Envios de alertas para os responsáveis</li>
                </ul>
              <!-- <p><a class="btn btn-default" href="#" role="button">Detalhes &raquo;</a></p> -->
            </div>

            <div class="col-md-4">
              <h5>Agenda do Aluno</h5>
               <ul>
                  <li>Mensagem simultânea para todos os alunos</li>
                  <li>Mensagem para grupos de alunos</li>
                  <li>Mensagem simultânea para todos responsáveis de alunos</li>
                  <li>Mensagem para grupos de responsáveis por alunos</li>
                </ul>
              <!-- <p><a class="btn btn-default" href="#" role="button">Detalhes &raquo;</a></p> -->
            </div>

            <div class="col-md-4">
              <h5>Calendário de aulas</h5>
              <p>Acesso aos dados de onde você estiver</p>
              <ul>
                  <li>Exercícios</li>
                  <li>Notas</li>
                  <li>Faltas</li>
                  <li>Atividades</li>
                </ul>
              <!-- <p><a class="btn btn-default" href="#" role="button">Detalhes &raquo;</a></p> -->
            </div>
          <hr>

      </div> 
    {% endif %}
{% endblock content %}
{% block extra_js %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawBasic);

          function drawBasic() {

            var data = google.visualization.arrayToDataTable([
              ['Meios de pgamento', 'R$',],
              ['Boleto bancário', {{ boleto_bancario }}],
              ['Cartão de crédito', {{ cartao_credito }} ],
              ['Cartão de débito', {{ cartao_debto }}],
              ['Cheque', {{ cheque }}],
              ['Dinheiro', {{ dinheiro }}],
              ['Permuta', {{ permuta }}],
              ['Transferência bancária', {{ transf_bancaria }}],
              ['Indefinidos', {{ indefinidos }}],
              ['Entradas', {{ entradas }}]
            ]);

            var options = {
              title: 'Entradas',
              chartArea: {width: '40%'},
              hAxis: {
                title: 'Movimentação',
                minValue: 0.0
              },
              vAxis: {
                title: 'Recebimentos'
              }

            };

            var chart = new google.visualization.BarChart(document.getElementById('chart_div_1'));

            chart.draw(data, options);
          }  
      </script>

      <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawBasic);

          function drawBasic() {

            var data = google.visualization.arrayToDataTable([
              ['Meios de pgamento', 'R$',],
              ['Boleto bancário', {{ saidas_boleto_bancario }}],
              ['Cartão de crédito', {{ saidas_cartao_credito }}],
              ['Cartão de débito', {{ saidas_cartao_debto }}],
              ['Cheque', {{ saidas_cheque }}],
              ['Dinheiro', {{ saidas_dinheiro }}],
              ['Permuta', {{ saidas_permuta }}],
              ['Transferência bancária', {{ saidas_transf_bancaria }}],
              ['Indefinidos', {{ saidas_indefinidos }}],
              ['Saídas', {{ saidas }}],
            ]);

            var options = {
              title: 'Saídas',
              chartArea: {width: '40%'},
              hAxis: {
                title: 'Movimentação',
                minValue: 0.0
              },
              vAxis: {
                title: 'Pagamentos'
              },
              colors: ['#e0440e']

            };

            var chart = new google.visualization.BarChart(document.getElementById('chart_div_2'));

            chart.draw(data, options);
          }  
      </script>

{% endblock extra_js%}
 
