{% extends 'base.html' %}
{% load numberformat_br %}
{% block content %}
    {% if user.is_authenticated %}
      <div class="container">
        {% block page_title %}
          <br>
        {% endblock page_title %}
        {% if diretor %}
          <div class="row">
            <div class="panel panel-success">
              <div class="panel-heading">Pendentes a receber do dia 1ª de Jan a {{ hoje|date:'d/m/Y' }}</div>
              <div class="panel-body"> 
                <table class="table">
                <thead>
                  <tr>
                    <th style="text-align:left">
                      <a href="{% url 'pagamentos_list' escola.id %}?ano={{ano_corrente}}&mes={{mes_corrente}}&mes_fim={{mes_corrente}}&serie=&cpf_resp_fin=&categoria=&titulo=" >Pagamentos</a>
                    </th>
                    <th style="text-align:right"><a href="{% url 'inadimplentes_list' escola.id %}?ano={{ano_corrente}}&serie=&cpf_resp_fin=&responsavel_nome=&aluno_nome=&pagamentos_atrasados=&order=responsavel_nome">Inadimplentes</a></th>
                  </tr>
                </thead>
              </table>
              </div>
                <!-- Table -->
              <table id="tabela_entradas" class="table">
                <thead>
                  <tr>
                    <th style="text-align:center">Valor</th>
                    <th style="text-align:center">Data</th>
                    <th style="text-align:center">Responsável</th>
                    <th style="text-align:center">Aluno</th>
                  </tr>
                  <tr id="tabela_entradas input">
                    <th style="text-align:center"><input type="text" id="txtColuna0"/></th>
                    <th style="text-align:center"><input type="text" id="txtColuna1"/></th>
                    <th style="text-align:center"><input type="text" id="txtColuna2"/></th>
                    <th style="text-align:center"><input type="text" id="txtColuna3"/></th>
                  </tr>    
                </thead>
                <tfoot></tfoot>
                 <tbody>
                  {% for entrada in entradas_pendentes_qs %}
                   <tr>
                      <td style="text-align:center">
                        {% if can_edit %}
                          <a href="{% url 'pagamentos_aluno_list' entrada.contrato.contratoaluno.aluno.id %}">
                          {{ entrada.valor|numberformat_br }}</a>
                        {% else %}
                          {{ entrada.valor|numberformat_br }}
                        {% endif %}
                      </td>
                      <td style="text-align:center">{{ entrada.data|date:'d/m/Y' }}</td>
                      <td style="text-align:center"> 
                        {% if entrada.contrato %}
                          <small>{{ entrada.contrato.contratoaluno.responsavel.nome }}</small>
                        {% else %}
                          --
                        {% endif %}
                      </td>
                      <td style="text-align:center"> 
                        {% if entrada.contrato %}
                          <small>{{ entrada.contrato.contratoaluno.aluno.nome }}</small>
                        {% else %}
                          --
                        {% endif %}
                      </td>
                   </tr>
                   {% empty %}
                      Não há recebimentos pendentes
                  {% endfor %}
                 </tb ody>
              </table>
            </div>
            <div class="panel panel-danger">
              <div class="panel-heading">Pendentes a pagar do dia 1ª de Jan a {{ hoje|date:'d/m/Y' }}</div>
              <div class="panel-body">
                <table class="table">
                <thead>
                  <tr>
                    <th style="text-align:left"><a href="{% url 'pagamentos_list' escola.id %}" >Pagamentos</a></th>
                    <th style="text-align:right"></th>
                  </tr>
                </thead>
              </table>
              </div>

              <!-- Table -->
              <table id="tabela_saidas" class="table">
                <thead>
                  <tr>
                    <th style="text-align:center">Valor</th>
                    <th style="text-align:center">Data</th>
                    <th style="text-align:center">Categoria</th>
                    <th style="text-align:center">Título</th>
                  </tr>
                  <tr id="tabela_saidas_input">
                    <th style="text-align:center"><input type="text" id="txtColuna4"/></th>
                    <th style="text-align:center"><input type="text" id="txtColuna5"/></th>
                    <th style="text-align:center"><input type="text" id="txtColuna6"/></th>
                    <th style="text-align:center"><input type="text" id="txtColuna7"/></th>
                  </tr> 
                </thead>
               <tbody>
                {% for saida in saidas_pendentes_qs %}
                 <tr>
                    <td style="text-align:center">
                      {% if can_edit %}
                        <a href="{% url 'pagamento_edit' escola.id saida.id %}?list">
                          {{ saida.valor|numberformat_br }}</a>
                      {% else %}
                          {{ saida.valor|numberformat_br }}
                      {% endif %}
                    </td>
                    <td style="text-align:center">{{ saida.data|date:'d/m/Y' }}</td>
                    <td style="text-align:center">{{ saida.categoria.nome }}</td>
                    <td style="text-align:center">{{ saida.titulo }}</td>
                 </tr>
                 {% empty %}
                    Não há pagamentos pendentes
                {% endfor %}
               </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="panel panel-success">
              <div class="panel-heading">Entradas {{ mes_corrente }} / {{ ano_corrente }}</div>
              <div class="panel-body"><small>Previsto, realizado e pendente no mês.</small> </div>

              <!-- Table -->
              <table class="table" >
                <thead>
                  <tr>
                    <th style="text-align:center">Previsto</th>
                    <th style="text-align:center">Realizado</th>
                    <th style="text-align:center">Pendente</th>
                  </tr>
                </thead>
               <tbody>
                 <tr>
                   <td style="text-align:center">{{ entradas|numberformat_br }}</td>
                   <td style="text-align:center">{{ entradas_realizadas|numberformat_br }}</td>
                   <td style="text-align:center">{{ entradas_pendentes|numberformat_br }}</td>
                 </tr>
               </tbody>
                
              </table>
            </div>

            <div class="panel panel-danger">
              <div class="panel-heading">Saídas {{ mes_corrente }} / {{ ano_corrente }}</div>
              <div class="panel-body"><small>Previsto, realizado e pendente no mês.</small> </div>

              <!-- Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th style="text-align:center">Previsto</th>
                    <th style="text-align:center">Realizado</th>
                    <th style="text-align:center">Pendente</th>
                  </tr>
                </thead>
               <tbody>
                 <tr>
                   <td style="text-align:center">{{ saidas|numberformat_br }}</td>
                   <td style="text-align:center">{{ saidas_realizadas|numberformat_br }}</td>
                   <td style="text-align:center">{{ saidas_pendentes|numberformat_br }}</td>
                 </tr>
               </tbody>
                
              </table>
            </div>
          
            <div class="panel panel-warning">
              <div class="panel-heading">Saldo {{ mes_corrente }} / {{ ano_corrente }}</div>
              <div class="panel-body"><small>Previsto, realizado e pendente no mês.</small> </div>

              <!-- Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th style="text-align:center">Previsto</th>
                    <th style="text-align:center">Realizado</th>
                    <th style="text-align:center">Pendente</th>
                  </tr>
                </thead>
               <tbody>
                 <tr>
                   <td style="text-align:center">{{ saldo_previsto|numberformat_br }}</td>
                   <td style="text-align:center">{{ saldo_realizado|numberformat_br }}</td>
                   <td style="text-align:center">{{ saldo_pendente|numberformat_br }}</td>
                 </tr>
               </tbody>
              </table>
            </div>
          </div>
        {% endif %}
    {% else %}
        <div class="container">
          <h2 align=”right”>A Escola 4.0 começa na gestão da instituição </h2>
          <div class="jumbotron">
            <div class="container">
              <div class="col-md-4">
                <h5>Gestão dos Dados</h5>
                  <ul>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Cadastro de Alunos </li>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Cadastro de Responsáveis </li>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Cadastro de Autorizados </li>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Ficha do Aluno </li>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Relatório de aniversariantes </li>
                    <li> Histórico auditável </li>
                  </ul>
                <!-- <p><a class="btn btn-default" href="#" role="button">Detalhes &raquo;</a></p> -->
              </div>
              <div class="col-md-4">
                <h5>Gestão de Contratos</h5>
                  <ul>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Contratos de prestação de serviços educacionais  </li>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Contratos de pessoal  </li>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Cálculo de juros e multas </li>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Cálculo de descontos </li>
                    <li> Histórico auditável </li>
                  </ul>
                <!-- <p><a class="btn btn-default" href="#" role="button">Detalhes &raquo;</a></p> -->
              </div>
              <div class="col-md-4">
                <h5>Gestão de Pagamentos</h5>
                  <ul>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Contas a receber  </li>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Contas a pagar  </li>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Envio de recibos por email </li>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Impressão e download dos recibos </li>
                    <li> <span class="glyphicon glyphicon-ok-circle" style="color:green"></span> Histórico auditável </li>
                  </ul>
               <!--  <p><a class="btn btn-default" href="#" role="button">Detalhes &raquo;</a></p> -->
              </div>
            </div>
          </div>
          <!-- Example row of columns -->
        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-4">
              <h5>Calendário de aulas</h5>
                <ul>
                  <li>Datas das provas por sala de aula</li>
                  <li>Datas dos compromissos financeiros dos Responsáveis dos alunos</li>
                  <li>Envios de alertas para os responsáveis</li>
                </ul>
              <!-- <p><a class="btn btn-default" href="#" role="button">Detalhes &raquo;</a></p> -->
            </div>

            <div class="col-md-4">
              <h5>Agenda do Aluno</h5>
               <ul>
                  <li>Mensagem simultânea para todos os alunos</li>
                  <li>Mensagem para grupos de alunos</li>
                  <li>Mensagem simultânea para todos responsáveis de alunos</li>
                  <li>Mensagem para grupos de responsáveis por alunos</li>
                </ul>
              <!-- <p><a class="btn btn-default" href="#" role="button">Detalhes &raquo;</a></p> -->
            </div>

            <div class="col-md-4">
              <h5>Calendário de aulas</h5>
              <p>Acesso aos dados de onde você estiver</p>
              <ul>
                  <li>Exercícios</li>
                  <li>Notas</li>
                  <li>Faltas</li>
                  <li>Atividades</li>
                </ul>
              <!-- <p><a class="btn btn-default" href="#" role="button">Detalhes &raquo;</a></p> -->
            </div>
          <hr>

      </div> 
    {% endif %}
{% endblock content %}

{% block css %}
  <style type="text/css">
    input[type=text], select, textarea{
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      resize: vertical;
    }
  </style>
{% endblock css %}
{% block extra_js %}
  <script type="text/javascript">
    $(function(){
        $("#tabela_entradas input").keyup(function(){       
            var index = $(this).parent().index();
            var nth = "#tabela_entradas td:nth-child("+(index+1).toString()+")";
            var valor = $(this).val().toUpperCase();
            $("#tabela_entradas tbody tr").show();
            $(nth).each(function(){
                if($(this).text().toUpperCase().indexOf(valor) < 0){
                    $(this).parent().hide();
                }
            });
        });
     
        $("#tabela_entradas input").blur(function(){
            $(this).val("");
        });
    });

    $(function(){
        $("#tabela_saidas input").keyup(function(){       
            var index = $(this).parent().index();
            var nth = "#tabela_saidas td:nth-child("+(index+1).toString()+")";
            var valor = $(this).val().toUpperCase();
            $("#tabela_saidas tbody tr").show();
            $(nth).each(function(){
                if($(this).text().toUpperCase().indexOf(valor) < 0){
                    $(this).parent().hide();
                }
            });
        });
     
        $("#tabela_saidas input").blur(function(){
            $(this).val("");
        });
    });
  </script>
{% endblock extra_js%}
 
