{% load unica_escola %}
     <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% if escola %}
          <a class="navbar-brand" href="{% url 'home' escola.pk %}">
            Smart Is Cool
          </a>
        {% else %}
          <a class="navbar-brand" href="#">
            Smart Is Cool
          </a>
        {% endif %}
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!-- <li class="{{ menu_home }}"><a href="/" title="{{ section.name }}"><i class="icon-home"></i>Home</a></li> -->
          {% if user.is_authenticated %}
             {% if not user.get_unica_escola %}
              <li class="dropdown {{ menu_administracao }}">
                <li class="{{ escolas }}"><a href="{% url 'escolas_list' %}">Escolas</a></li>
              </li>
            {% endif %}
            {% if escola %}
            <!-- {# dropdown ADM INI #} -->
            <li class="dropdown {{ menu_administracao }}">
               <!--  <li class="{{ tab_perfis }}"><a href="{% url 'perfis_list' escola.id %}" id='id_perfis'>Perfis</a></li> -->
                <li class="{{ tab_usuarios }}"><a href="{% url 'usuarios_list' escola.id %}" id='id_usuarios'>Usuários</a></li>
                <li class="{{ tab_escola }}"><a href="{% url 'escola_cadastro' escola.pk %}" id='id_escola'>Instituição</a></li>
                <li class="{{ tab_alunos }}"><a href="{% url 'alunos_list' escola.id %}" id='id_alunos'>Alunos</a></li>
                {% if user|is_diretor:escola %}
                  <li class="dropdown {{ tab_administracao}}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administração <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li class="{{ tab_aniversariantes }}"><a href="{% url 'aniversariantes_list' escola.id %}" id='id_movimentos'>Aniversariantes</a></li>
                      <li class="{{ tab_professores }}"><a href="{% url 'professores_list' escola.pk %}" id='id_professores'>Professores</a></li>
                      <li class="{{ tab_contratos }}"><a href="{% url 'contratos_list' escola.id %}" id='contratos'>Contratos</a></li>
                      <li class="{{ tab_inadimplentes }}"><a href="{% url 'inadimplentes_list' escola.id %}" id='contratos'>Inadimplentes</a></li>
                      <li class="{{ tab_parcelas }}"><a href="{% url 'pagamentos_list' escola.id %}" id='id_movimentos'>Pagamentos</a></li>
                      <!-- <li><a href="" title="{{ section.name }}">Cartões</a></li> -->
                    </ul>
                  </li>
                  <li class="dropdown {{ tab_sistema }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sistema<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li class="{{ tab_bandeiras }}"><a href="{% url 'bandeiras_list' escola.id %}" title="{{ section.name }}">Bandeiras Aceitas</a></li>
                      <li class="{{ tab_categorias }}"><a href="{% url 'categorias_list' escola.id %}" title="{{ section.name }}">Categorias de Pagamentos</a></li>
                      <li class="{{ tab_grupos }}"><a href="{% url 'grupos_list' escola.id %}" id='id_grupos'>Grupos</a></li>
                      <li class="{{ tab_mensagem_default }}"><a href="{% url 'msg_default_list' escola.id %}" >Mensagens Default</a></li>
                      <li class="{{ tab_parametros }}"><a href="{% url 'parametros_contrato_list' escola.id %}" title="{{ section.name }}">Parâmetros dos Contratos</a></li>
                      </li>
                      <!-- <li><a href="" title="{{ section.name }}">Cartões</a></li> -->
                    </ul>
                  </li>
                  <!-- <li class="{{ tab_responsaveis }}"><a href="{% url 'responsaveis_list' escola.id %}">Responsáveis</a></li> -->
                 <!--  <li class="{{ tab_autorizados }}"><a href="{% url 'autorizados_list' escola.id %}">Autorizados</a></li> -->
                {% endif %}
            </li>
            {% endif %}
          {% endif %}
          <li class="{% if section.selected %}active{% endif %}"><a href="#"><i class="{{ section.icon }}"></i> {{ section.name }}</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="#">Link</a></li> -->
          {% if user.is_authenticated %}
            {% if user.get_unica_escola %}
              <li><a href="{% url 'escola_cadastro' request.user.get_unica_escola %}">{{ request.user|get_escola }}</a></li>
              <li{% if active_perfil %} class="active"{% endif %}><a href="{% url 'usuario_form' request.user.get_unica_escola request.user.id %}"><i class="glyphicon glyphicon-user"></i> {{ request.user.email }}</a></li>
            {% else %}
              {% if escola %}
                <li><a href="{% url 'escola_cadastro' escola.id %}">{{ escola }}</a></li>
                <li{% if active_perfil %} class="active"{% endif %}><a href="{% url 'usuario_form' escola.pk request.user.id %}"><i class="glyphicon glyphicon-user"></i> {{ request.user.email }}</a></li>
              {% endif %}
            {% endif %}
            {% if escola and escola.site %}
              <li><a href="{% url 'auth_logout_next' escola.site %}"><i class="glyphicon glyphicon-off"></i> Sair</a></li>
            {% else %}
              <li><a href="{% url 'logout' %}"><i class="glyphicon glyphicon-off"></i> Sair </a></li>
            {% endif %}

          {% else %}
            <li><a href="{% url 'login' %}"><i class="glyphicon glyphicon-log-in"></i> Entrar </a></li>
            <!-- <li><a href="#"><i class="icon-arrow-right"></i> Cadastrar </a></li> -->
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
      