cobranca_whats_form{% extends 'base.html'%}
{% load bootstrap3 %}
{% block css %}
  <style type="text/css">
    #id_mensagem{
      height: 100px;
    }
   </style>
{% endblock css %}

{% block page_title %}
  <div class="page-header">
  <!-- TODO erver esse br -->
  <br>
    {% if escola %}
        {{ escola.nome }} - <small> Email de cobrança e solicitação de contato</small>
    {% else %}
        generico
    {% endif %}
  </div>
{% endblock page_title %}

{% block content %}
<div class="container">
  {% if form.instance.get_whats_app_link_cobranca %}
    <p>
      <button type="button" class="btn btn-default btn-lg" aria-label="Left Align" onclick="copiarTexto()">
        <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
      </button>
    </p>
    <p>
       {{ form.instance.get_whats_app_link_cobranca }}
    </p>       
    <p>
      <a href="{{ form.instance.get_whats_app_link_cobranca }}" aligin="right">WhtasApp</a>
    </p>
  {% else %}
    <p>
      Não possui celular cadastrado ou pode estar faltando os dígitos do DDD
    </p>
  {% endif %}
  <div class="row-fluid span10">
    <form method="POST" enctype="multipart/form-data">
      {{ form.errors }}
      {% csrf_token %}
        <div class="form-group center_div" >
          <div class="row">
            <!-- {# Celular, Tablet, Computador #} -->
            <div class="col-xs-12 col-sm-9 col-md-6">
              
              {% bootstrap_field form.email %}
              {% bootstrap_field form.mensagem %}
   
            </div>
        </div>
      </div>
      <!-- glyphicon glyphicon-print -->
      <div class="form-actions">
        {% if can_edit and form.instance.email %}
          <input type="submit" value="Enviar email" class="btn btn-primary">
        {% endif %}
        <a href="{% url 'inadimplentes_list' escola.id %}" class="btn btn-secondary">Voltar para lista de inadimplentes</a>
      </div>
    </form>
  </div>
</div>

{% endblock content %}

{% block extra_js %}
    {{ form.media }}
  <script type="text/javascript">
    let copiarTexto = () =>{

        const inputText = document.querySelector("#id_mensagem");
        
        inputText.select();

        document.execCommand('copy');
    };
  </script>
{% endblock extra_js %}
