{% extends "base.html" %}

{% block css %}
  {{ endereco_form.media.css }}
  <style type="text/css">
    #id_serie, #id_ano, #id_ra {
      width: 80px;
      height: 35px;
    }
   </style>
{% endblock css %}
{% block page_title %}
  <div class="page-header">
  <!-- TODO erver esse br -->
  <br>
    {% if aluno.id %}
        Aluno: {{ aluno.nome }}
    {% else %}
       Aluno
    {% endif %}
  </div>
{% endblock page_title %}

{% block content %}
<div class="container">
  {% include "base_adm.html" %}
  <div class="row-fluid span10">
    {% include "base_aluno.html" %}
      <br>
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h3><b>Ano</b> : {{ aluno.ano }}</h3>
          <p><b>RA</b>: {{ aluno.ra|default:"--" }}</p>
          <p><b>Sexo</b>: {{ aluno.get_sexo_display|default:"--" }}</p>
          <p><b>Curso</b>: {{ aluno.curso.nome|default:"--" }}</p>
          <small>Dados do Aluno:</small>
          <p><b>Nome</b>: {{ aluno.nome|default:"--" }}</p>
          <p><b>CPF</b>: {{ aluno.cpf|default:"--" }}</p>
          <p><b>RG</b>: {{ aluno.rg|default:"--" }} </p>
          
          <p><b>RG e ou CPF</b>:{% if aluno.documento %}<a href="{{ aluno.documento.url }}">{{ aluno.get_docs_name }}</a>{% endif %}</p>
          <p>
            <b>Foto</b>:
            {% if aluno.foto %}
              <a href="{{ aluno.foto.url }}">
                <img src="{{ aluno.foto.url }}" alt="Forest" style="width:150px">
              </a>
             {% endif %}
          </p>
       
        </div>
        <div class="col-md-4">
          <p><small>Nascimento</small></p>
          <p><b>Nacionalidade</b>: {{ aluno.nacionalidade|default:"--" }}</p>
          <p><b>Natural de</b>: {{ aluno.natural_municipio|default:"--"  }}</p>
          <p><b>data de nascimento</b>: {{ aluno.nascimento|date:"d/m/Y"|default:"--" }}</p>
          <p><small>Meios de contatos do aluno</small></p>
          <p><b>Email</b>: {{ aluno.email|default:"--" }} </p>
          <p><b>Celular</b>: {{ aluno.celular|default:"--" }} </p>
          <p><b>Telefone</b>: {{ aluno.telefone|default:"--" }} </p>
          <p></p>
        </div>
        <div class="col-md-4">
          <p><small>Endereço do aluno</small></p>
          <p><b>Logradouro</b>: {{ aluno.endereco.logradouro|default:"--" }}</p>
          <p><b>número</b>: {{ aluno.endereco.numero|default:"--" }}</p>
          <p><b>bairro</b>: {{ aluno.endereco.bairro|default:"--" }}</p>
          <p><b>CEP</b>: {{ aluno.endereco.cep|default:"--" }}</p>
          <p><b>Município</b>: {{ aluno.endereco.municipio|default:"--" }}</p>
          <p><b>Observação</b>: {{ aluno.observacao|default:"--" }} </p>
        </div>
      </div>
      <!-- glyphicon glyphicon-print  {% url 'aluno_form' escola.id aluno.id %} -->
      
      <div class="form-actions">
        <br>
        {% if can_edit %}
          <a href="{% url 'aluno_form' escola.id aluno.id %}" class="btn btn-mini btn-success">Editar</a>
          <a href="{% url 'aluno_ficha_matricula' aluno.id %}" class="btn btn-default">Ficha Matrícula</a>

        {% endif %}
        <a href="{% url 'alunos_list' escola.pk %}" class="btn btn-secondary">Voltar para listagem de alunos</a>
      </div>

  </div>
</div>
  {% if classes %}
  <h4>Histórico de classes:</h4>
  <ul>
    {% for classe_aluno in classes %}
      <li>{{ classe_aluno.classe }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
</div>

{% endblock content %}

{% block extra_js %}
    {{ form.media }}
{% endblock extra_js %}
