{% extends "base.html" %}
{% load bootstrap3 %}

{% block css %}
{% endblock %}

{% block page_title %}
  <div class="page-header esconde_na_impressao">
    <!-- TODO erver esse br -->
    <br>
      {% if aluno.id %}
          Aluno: {{ aluno.nome }}
      {% else %}
         Aluno
      {% endif %}
  </div>
{% endblock page_title %}

{% block content %}
<div class="container">
  {% include "base_adm.html" %}
    <div class="row-fluid span10">
     {% include "base_aluno.html" %}
     <br>
    <div class="form-actions esconde_na_impressao">
      <a href=""  value="Imprimir" onclick="window.print()" class="btn btn-default">
        <span class="glyphicon glyphicon-print" aria-hidden="true" ></span>Imprimir</a>
    </div>
   
        <br>
        <!-- {# Celular, Tablet, Computador #} -->
        
          <p align="center">{{ escola.nome }}</p>
          <p align="center">{{ escola.razao_social }}</p>
          <p align="center">{{ escola.endereco }}, {{ escola.numero}}, {{ escola.bairro }}</p>
          <p align="center">{{ escola.municipio }}</p>
          <p align="center">{{ escola.telefone }}</p>


  <fieldset style="margin-top:0px; border:2px;">
    <legend></legend>
    <table style="width: 100%;" class="listing">
        <tbody>
          <tr>
            <td><b>RA:</b> {{ aluno.ra|default:'' }}<br> <b>Classe:</b> <br><b>Curso:</b> {{ aluno.curso|default:'' }} <br><b>Turma:</b>  <br> {{ aluno.ano|default:'' }}</td>
            <td></td>
          </tr>
        </tbody>
    </table>
  </fieldset>
  <fieldset style="margin-top:2px; border:2px;">
    <legend align="center">FICHA DE MATRÍCULA</legend>
    <table style="width: 100%;" class="listing">
      <tbody>
        <tr>
          <td>
            <b>Nome completo do aluno(a) sem abreviação</b><br>{{ aluno.nome }}:
          </td>
        </tr>
        <tr>
          <td><b>Naturalidade</b><br>{{ aluno.natural_municipio|default:'--' }}</td>
          <td><b>Nacionalidade</b><br>{{ aluno.nacionalidade|default:'--' }}</td>
          <td><b>Data de Nascimento</b><br>{{ aluno.nascimento|date:"d/m/Y" }}</td>
        </tr>
        <tr>
          <td>
            <b>Endereço</b> <br>{{ aluno.endereco.logradouro }}, {{ aluno.endereco.numero }}
          </td>
        </tr>
        <tr>
          <td><b>Bairro</b><br>{{ aluno.endereco.bairro|default:'--' }}</td>
          <td><b>Município - estado</b><br>{{ aluno.endereco.municipio|default:'--' }}</td>
          <td><b>CEP</b><br>{{ aluno.endereco.cep|default:"--" }}</td>
        </tr>
        <tr>
          <td><b>Tel residencial</b><br>{{ aluno.telefone|default:'--' }}</td>
          <td><b>Recado</b><br> </td>
          <td><b>Celular</b><br>{{ aluno.celular|default:"" }}</td>
          <td><b>email</b><br>{{ aluno.email|default:"" }}</td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  <fieldset style="margin-top:2px; border:2px;">
    <legend align="center">Responsáveis</legend>
    <table style="width: 100%;" class="listing">
     <tbody>
      {% for responsavel in aluno.responsavel_set.all %}
        <tr>
          <td><b>Nome: </b><br>{{ responsavel.membro.nome|default:"" }}</td>
          <td><b>Parentesco:</b><br>{{ responsavel.parentesco|default:"" }}</td>
          <td><b>celular:</b><br>{{ responsavel.membro.celular|default:"" }}</td>
          <td><b>profissão:</b><br>{{ responsavel.membro.profissao|default:"" }}</td>
        </tr>
        <tr >
          <td ><b>Empresa em que trabalha: </b><br>{{ responsavel.membro.empresa|default:"" }}</td>
          <td ><b>Tel de contato:</b><br>{{ responsavel.membro.telefone_empresa|default:"" }}</td>
        </tr>
        <tr>
          <td><b>Data de nascimento: </b><br>{{ responsavel.membro.nascimento|default:"" }}</td>
          <td><b>RG:</b><br>{{ responsavel.membro.rg|default:""  }}</td>
          <td><b>CPF:</b><br>{{ responsavel.membro.cpf|default:""  }}</td>
        </tr>
        <tr><td><td></tr>
      {% endfor %}
     </tbody>
    </table>
  </fieldset>
  <fieldset style="margin-top:2px; border:2px;">
    <legend align="center"></legend>
    <table style="width: 100%;" class="listing">
     <tbody>
      <tr>
        <td><b>Resp. financeiro: </b><br>{{ aluno.get_responsavel_financeiro.nome|default:"" }}</td>
        <td><b>Contato:</b><br>{{ aluno.get_responsavel_financeiro.celular|default:"" }}</td>
        <td><b>Email:</b><br>{{ aluno.get_responsavel_financeiro.email|default:"" }}</td>
        <td><b>Assinatura:</b><br></td>
      </tr>
      <tr>
        <td><b>Resp. pedagógico: </b><br>{{ aluno.get_responsavel_pedagogico.nome|default:"" }}</td>
        <td><b>Contato:</b><br>{{ aluno.get_responsavel_pedagogico.celular|default:"" }}</td>
        <td><b>Email:</b><br>{{ aluno.get_responsavel_pedagogico.email|default:"" }}</td>
        <td><b>Assinatura:</b><br></td>
      </tr>
     </tbody>
   </table>
 </fieldset>
</div>
<br>
    <div class="form-actions esconde_na_impressao">
      <a href="{% url 'aluno_cadastro' aluno.id %}" class="btn btn-secondary">Voltar para o cadastro {{ aluno.nome }}</a>
    </div>
</div>

{% endblock content %}
{% block extra_js %}
    {{ form.media }}
{% endblock extra_js %}
