{% extends "base.html" %}
{% load bootstrap3 %}

{% block page_title %}
    {% if escola %}
         Cadastro de Autorizado / Escola: {{ escola.nome }}
    {% else %}
        Cadastro de Autorizado
    {% endif %}
{% endblock page_title %}


{% block content %}

<div class="container">
  {% include "base_adm.html" %}
    <div class="row-fluid span10">
    {% include "base_aluno.html" %}
      Aluno: <b>{{ aluno.nome }}</b><br>
      Classe: <b>{{ classe|default:"--" }}</b><br>
 
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <div class="row">
            <!-- {# Celular, Tablet, Computador #} -->
            <div class="col-xs-9 col-sm-6 col-md-3">
              {% bootstrap_field form.nome %}
              {% bootstrap_field form.email %}
              {% bootstrap_field form.celular %}
              {% bootstrap_field form.documento %}
            </div>
          </div>
        <div class="form-actions">
          <input type="submit" value="Salvar" class="btn btn-primary">
            <a href="{% url 'autorizados_aluno_list' aluno.id %}" class="btn btn-secondary">Cancelar</a>
       </div>
      </div>
    </form>
  </div>
</div>

{% endblock content %}

{% block extra_js %}
    {{ form.media }}
{% endblock extra_js %}
