{% extends 'base.html'%}
{% block page_title %}
    {% if escola %}
        Classes / Escola: {{ escola.nome }}
    {% else %}
       Classes
    {% endif %}
{% endblock page_title %}

{% block content %}
<div class="container">
  {% include "base_adm.html" %}
  <div class="row-fluid span10">
    <table class="table table-striped">
          {% if can_edit %}
        <caption>
           <div style="float:right; margin-right:10px">
              <a href="{% url 'classe_form' escola.pk %}" class="btn btn-mini btn-success">Nova Classe</a>
           </div>
        </caption>
      {% endif %}
         <thead>
          <tr>
              <th>Curso</th>
              <th>Ano</th>
              <th>Período</th>
              <th>Ad. Prof.</th>
              <th>Nr Professores</th>
              <th>Ad. Aluno</th>
              <th>Nr Alunos</th>
          </tr>
        </thead>

        <tbody>
        {% for classe in classes %}
          <tr>
          {% if can_edit  %}
              <td><a href="{% url 'classe_form' escola.pk  classe.pk %}">{{ classe.curso }}</a></td>
          {% else %}
            <td>{{ classe.curso }}</td>
          {% endif %}
            <td>{{ classe.ano}}</td>
            <td>{{ classe.get_periodo_display }}</td>
            <th><a href="{% url 'classe_professor_form' classe.id %}" class="btn btn-mini btn-success">+</a></td>
            <td>{{ classe.classeprofessor_set.count|default:"--" }}</td>
            <th><a href="{% url 'classe_aluno_form' classe.id %}" class="btn btn-mini btn-success">+</a></td>
            <td>{{ classe.classealuno_set.count|default:"--" }}</td>
          </tr>
        {% empty %}
        <tr>
          <td>
              Nenhuma classe encontrada
          </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>

{% endblock content %}

    {% block extra_js %}

    {% endblock extra_js%}
