{% extends "base.html" %}
{% load bootstrap3 %}

{% block page_title %}
  <div class="page-header">
  <!-- TODO erver esse br -->
  <br>
    {% if escola %}
        Escola: {{ escola.nome }}
    {% else %}
        Cadastro de Escola
    {% endif %}
  </div>
{% endblock page_title %}

{% block content %}
<div class="container">
   {% include "base_adm.html" %}
   <br>
    <div class="row-fluid span10">
      <div class="row">
        <!-- {# Celular, Tablet, Computador #} -->
        <div class="col-xs-9 col-sm-6 col-md-3">
          <p>País: <b>{{ escola.pais }}</b></p>
          <p>Razão Social: <b>{{ escola.razao_social }}</b></p>
          <p>CNPJ: <b>{{ escola.cnpj }}</b></p>
          <p>Nome: <b>{{ escola.nome }}</b></p>
          <p>Município: <b>{{ escola.municipio }}</b></p>
        </div>
        <div class="col-xs-9 col-sm-6 col-md-3">
          <p>Endereço: <b>{{ escola.endereco }}</b> </p>
          <p>Número: <b>{{ escola.numero }}</b> </p>
          <p>complemento: <b>{{ escola.complemento }}</b> </p>
          <p>Telefone: <b>{{ escola.telefone }}</b> </p>
          <p>Bairro: <b>{{ escola.bairro }}</b></p>
        </div>
        <div class="col-xs-9 col-sm-6 col-md-3">
          <p>Site: <a href="{{ escola.site }}">{{ escola.site }}</a></p>
          <p>Observaçoes: <b>{{ escola.description }}</b></p>
          {% if request.user.is_admin %}
            <p>Escola: <b>{{ escola.publica|yesno:"Pública,Particular"}}</b></p>
          {% endif %} 
          {% if escola.logo %}
            Logo: 
              <p><a href="{{ escola.logo.url }}">{{ escola.get_docs_name }}</a></p>
          {% endif %}
          <p>
            <b>Cursos:</b>
            <ul>
              {% for curso in escola.cursos.all %}
                <li>{{ curso.nome }}</li>
              {% endfor %}
            </ul>
          </p>
        </div>
    </div>
        {% if can_edit %}
          <div class="form-actions">
            <a href="{% url 'escola_form' escola.pk %}" class="btn btn-mini btn-success">Editar</a>
          </div>
        {% endif %}
</div>

{% endblock content %}

{% block extra_js %}
    {{ form.media }}
{% endblock extra_js %}
