{% extends "base.html" %}
{% load bootstrap3 %}

{% block page_title %}
  <div class="page-header">
  <!-- TODO erver esse br -->
  <br>
    {% if escola %}
        Escola: {{ escola.nome }}
    {% else %}
        Cadastro de Escola
    {% endif %}
  </div>
{% endblock page_title %}


{% block content %}

<div class="container">
   {% include "base_adm.html" %}
    <div class="row-fluid span10">
        País: <b>{{ escola.pais }}</b><br>
        Nome: <b>{{ escola.nome }}</b><br> 
        Endereço: <b>{{ escola.endereco }}</b><br> 
        Número: <b>{{ escola.numero }}</b><br> 
        complemento: <b>{{ escola.complemento }}</b><br> 
        Telefone: <b>{{ escola.telefone }}</b><br> 
        Bairro: <b>{{ escola.bairro }}</b><br> 
        Site: <a href="{{ escola.site }}">{{ escola.site }}</a><br>
        Observaçoes: <b>{{ escola.description }}</b><br>
        {% if request.user.is_admin %}
          Escola: <b>{{ escola.publica|yesno:"Pública,Particular"}}</b><br>
        {% endif %} 
        {% if escola.logo %}
          Logo: 
            <a href="{{ escola.logo.url }}">{{ escola.logo.url }}</a><br>
        {% endif %}
        {% if can_edit %}
          <div class="form-actions">
            <a href="{% url 'escola_form' escola.pk %}" class="btn btn-mini btn-success">Editar</a>
          </div>
        {% endif %}
    </div>
</div>

{% endblock content %}

{% block extra_js %}
    {{ form.media }}
{% endblock extra_js %}
