{% extends "base.html" %}
{% load bootstrap3 %}

{% block page_title %}
  <div class="page-header">
  <!-- TODO erver esse br -->
  <br>
    {% if aluno %}
        Aluno: {{ aluno.nome }}
    {% else %}
       Aluno
    {% endif %}
  </div>
{% endblock page_title %}

{% block content %}

<div class="container">
  <div class="row-fluid span10">
    {% include "base_aluno.html" %}
    <table class="table table-striped">
        {% if can_edit %}
        <caption>
           <div style="float:right; margin-right:10px">
              <a href="{% url 'membro_familia_form' aluno.id %}" class="btn btn-mini btn-success">Novo Familiar</a>
           </div>
        </caption>
        {% endif %}
        {% if object_list and aluno.count_responsavel_financeiro == 0 %}
        <div class="alert alert-warning">Necessário definir um Responsável Financeiro</div>
        {% endif %}
        <thead>
          <tr>
              <th>Nome</th>
              <th>Parentesco</th>
              <th>Resp Financeiro</th>
              <th>Resp Pedagógico</th>
              <th>Celular</th>
              <th>Email</th>
          </tr>
        </thead>
        <tbody>
        {% for membro in object_list %}
          <tr>
            {% if can_edit %}
              <td><a href="{% url 'membro_familia_cadastro' aluno.pk membro.pk %}">{{ membro.nome }}</a></td>
            {% else %}
              <td>{{ membro.nome }}</td>
            {% endif %}
            <td>{{ membro.parentesco }}</td>
            <td>{{ membro.responsavel_financeiro|yesno:"Sim,Não" }}</td>
            <td>{{ membro.responsavel_pedagogico|yesno:"Sim,Não" }}</td>
            <td>{{ membro.celular|default:"" }}</td>
            <td>{{ membro.email|default:"" }}</td>
          </tr>
        {% empty %}
        <tr>
          <td>
              Nenhum membro da família cadastrado
          </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>

{% endblock content %}

    {% block extra_js %}

    {% endblock extra_js%}
