{% extends "base.html" %}
{% load bootstrap3 %}
{% block extra_css %}
    {{ formset.media.css }}
{% endblock extra_css %}
{% block page_title %}
  <div class="page-header">
  <!-- TODO erver esse br -->
  <br>
    {% if aluno %}
        Aluno: {{ aluno.nome }}
    {% else %}
       Aluno
    {% endif %}
  </div>
{% endblock page_title %}

{% block content %}
<div class="container">
  {% include "base_adm.html" %}
    <div class="row-fluid span10">
     {% include "base_aluno.html" %}
     <br>
      <div class="row">
        <!-- {# Celular, Tablet, Computador #} -->
        <div class="col-xs-9 col-sm-6 col-md-3">
          <p><b>Nome</b>: {{ membro.nome }}</p>
          <p><b>Parentesco</b>: {{ membro.parentesco }}</p>
          <p><b>Data Nascimento</b>: {{ membro.nascimento }}</p>
          <p><b>Responsavel financeiro</b>: {{ membro.responsavel_financeiro|yesno:"Sim,Não" }}</p>
          <p><b>Responsavel pedagógico</b>: {{ membro.responsavel_pedagogico|yesno:"Sim,Não"  }}</p>
          <p><b>Sexo</b>: {{ membro.get_sexo_display }}</p>
        </div>
        <div class="col-xs-9 col-sm-6 col-md-3">
          <p><b>Cpf</b>: {{ membro.cpf }}</p>
          <p><b>RG</b>: {{ membro.rg }}</p>
          <p><b>E-mail</b>: {{ membro.email }}</p>
          <p><b>Celular</b>: {{ membro.celular }}</p>
          <p><b>telefone</b>: {{ membro.telefone }}</p>
        </div>
        <div class="col-xs-9 col-sm-6 col-md-3">
          <p><b>Profissão</b>: {{ membro.profissao }}</p>
          <p><b>Empresa</b>: {{ membro.empresa }}</p>
          <p><b>Telefone empresa</b>: {{ membro.telefone_empresa }}</p>
          <p><b>Obs empresa</b>: {{ membro.obs_empresa }}</p>
          <p><b>RG e ou CPF</b>: {{ membro.documento }}</p>
        </div>
      </div>
    </div>
  {% if can_edit %}
  <br>
    <div class="form-actions">
      <a href="{% url 'membro_familia_form' aluno.id membro.pk responsavel.pk %}" class="btn btn-mini btn-success">Editar</a>
      <a href="{% url 'membros_familia_list' aluno.id %}" class="btn btn-secondary" title="Voltar para a listagem de familiares do aluno">Familiares do aluno</a>
    </div>
  {% endif %}
</div>

{% endblock content %}

{% block extra_js %}
  {{ formset.media }}
{% endblock extra_js %}
