{% extends 'base.html'%}

{% block title %}Grupos{% endblock title %}

{% block content %}

<div class="container">

  {% include "base_adm.html" %}

  <table class="table table-striped">
      <caption>
         <div style="float:right; margin-right:10px">
            <a href="#" class="btn btn-mini btn-success">Novo Professor</a>
         </div>
      </caption>
      <thead>
        <tr>
            <th>Nome</th>
            <th>Escola</th>
            <th>Turmas</th>
            <th>Status</th>
        </tr>
      </thead>

      <tbody>
      {% for professor in professores %}
        <tr>
          <td><a href="#">{{ professor.nome }}</a></td>
          <td>{{ escola.nome }}</td>
          <td>++</td>
          <td>++</td>
        </tr>
      {% empty %}
            Nenhum professor encontrado
      {% endfor %}
      </tbody>
  </table>
</div>

{% endblock content %}

    {% block extra_js %}
    <script type="text/javascript">
      $('.nav-tabs a').click(function(){
        $(this).tab('show');
})
  </script>
    {% endblock extra_js%}
