{% extends 'base.html'%}

{% block page_title %}
    {% if escola %}
        Responsáveis / Escola: {{ escola.nome }}
    {% else %}
       Responsáveis
    {% endif %}
{% endblock page_title %}

{% block content %}

<div class="container">

  {% include "base_adm.html" %}
  <div class="row-fluid span10">
    <table class="table table-striped">
        <thead>
          <tr>
              <th>Nome</th>
              <th>Aluno</th>
              <th>Status</th>
              <th>Data</th>
          </tr>
        </thead>

        <tbody>
        {% for object in responsaveis %}
          <tr>
            <td><a href="#">{{ object.responsavel.nome }}</a></td>
            <td><a href="#">{{ object.aluno.nome }}</a><td>
            <td>{{ object.status|yesno:'Ativo,--' }}</td>
            <td>{{ object.data|date:'d/m/Y' }}</td>
          </tr>
        {% empty %}
        <tr>
          <td>
              Nenhum responsável encontrado
          </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>

{% endblock content %}

    {% block extra_js %}

    {% endblock extra_js%}
