{% extends 'base.html'%}
{% load bootstrap3 %}

{% block page_title %}
  <div class="page-header">
  <!-- TODO erver esse br -->
  <br>
    {% if aluno.id %}
        Aluno: {{ aluno.nome }}
    {% else %}
       Aluno
    {% endif %}
  </div>
{% endblock page_title %}

{% block content %}
<div class="container">
  <div class="row-fluid span10">
    {% include "base_aluno.html" %}
        Ano: <b>{{ contrato.ano }}</b><br>
        Responsavel: <b>{{ contrato.responsavel.nome }}</b><br> 
        Aluno: <b>{{ contrato.aluno.nome }}</b><br> 
        Série: <b>{{ contrato.serie }}</b><br> 
        Valor do contrato: <b>R$ {{ contrato.valor }}</b><br>
        contrato: <b>R$ {{ contrato.valor }}</b><br>
        Data de assinatura: <b>{{ contrato.data_assinatura|date:"d/m/Y" }}</b><br> 
        Número de parcelas: <b>{{ contrato.nr_parcela }}</b><br> 
        Desconto: <b>{{ contrato.desconto }} (%)</b><br>
        arquivo: <b>{{ contrato.arquivo }}</b>
        matricula_nr: <b>{{ contrato.matricula_nr|default:"--" }}</b><br> 
        matricula valor: <b>{{ contrato.matricula_valor|default:"--" }}</b>
        {% if can_edit %}
          <div class="form-actions">
            <a href="" class="btn btn-mini btn-success">Editar</a>
             <a href="{% url 'contratos_aluno_list' aluno.id %}" class="btn btn-secondary" title="Voltar para a listagem...">Contratos do aluno</a>
            <a href="{% url 'contratos_list' escola.id %}" class="btn btn-secondary" title="Voltar para a listagem...">Listagem geral</a>
          </div>
        {% endif %}
  </div>
</div>

{% endblock content %}

{% block extra_js %}
    {{ form.media }}
{% endblock extra_js %}
