{% extends 'base.html'%}
{% load bootstrap3 %}
{% block css %}
  {{ form.media.css }}
  <style type="text/css">
    #id_serie,
    #id_ano,
    #id_bolsa,
    #id_vencimento,
    #id_desconto,
    #id_material_parcelas,
    #id_matricula_valor,
    #id_multa,
    #id_juros,
    #id_condicao_juros,
    #id_dia_util,
    #id_nr_parcela,
    #id_valor,
    #id_matricula_nr,
    #id_material_valor {
      width: 100px;
      height: 35px;
    }
   </style>
{% endblock css %}
{% block page_title %}
  <div class="page-header">
  <!-- TODO erver esse br -->
  <br>
    {% if aluno.id %}
        Aluno: {{ aluno.nome }}
    {% else %}
       Aluno
    {% endif %}
  </div>
{% endblock page_title %}
{% block content %}
<div class="container">
  <div class="row-fluid span10">
    {% include "base_aluno.html" %}
    <br>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="form-group center_div" >
          <div class="row">
            <!-- {# Celular, Tablet, Computador #} -->
            <div class="col-xs-9 col-sm-6 col-md-3">
              <p>{% bootstrap_field form.ano %}</p>
              <p>{% bootstrap_field form.serie %}</p>
              <p><b>Aluno</b>:{{ aluno.nome }}</p>
              <p>{% bootstrap_field form.responsavel %}</p>
              <small>Valor total do contrato</small> <a href=""><i class="glyphicon glyphicon-question-sign" title="Valor total do contrato (anuidade, semestralidade) + &#10 o valor da matrícula. &#10 &#10  Eventuais descontos devem ser colocados em &#10 Bolsa (%) ou &#10 no Desconto  por pontualidade (%)"></i></a>
              <p>{% bootstrap_field form.valor %}</p>
              <p>{% bootstrap_field form.bolsa %}</p>
              <p>{% bootstrap_field form.vencimento %}</p>
            </div>
            <div class="col-xs-9 col-sm-6 col-md-3">
             <!--  <p>{% bootstrap_field form.tem_desconto %}</p> -->
             <small>Descontos</small>
                <a href="">
                  <i class="glyphicon glyphicon-question-sign" 
                     title="Concedido para pagamentos efetuados até uma determinada data. Se você não selecionar um dia útil, o sistema irá considerar a data prevista para o : 'Dia de Pagar'">
                  </i>
                </a>
              <p>{% bootstrap_field form.desconto %}</p>
              <p>{% bootstrap_field form.condicao_desconto %}</p>
              <p>{% bootstrap_field form.dia_util %}</p>
              <p>{% bootstrap_field form.multa %}</p>
              <p>{% bootstrap_field form.juros %}</p>
              <p>{% bootstrap_field form.condicao_juros %}</p>
            </div>
            <div class="col-xs-9 col-sm-6 col-md-3">
              <small>Parcelas</small> <a href=""><i class="glyphicon glyphicon-question-sign" title="12 = de janeiro a dezembro; &#10 11 = de fevereiro a dezembro; &#10 10 = de março a dezembro; &#10 9 = de  abril a dezembro; &#10 8 = de maio a dezembro; &#10 7 = de junho a dezembro; &#10 ..."></i></a>
              <p>{% bootstrap_field form.nr_parcela %}</p>
              <p>{% bootstrap_field form.matricula_nr %}</p>
              <p>{% bootstrap_field form.matricula_valor %}</p>
              <p>{% bootstrap_field form.parcelas %}</p>
              <p>{% bootstrap_field form.data_assinatura %}</p>
              <p>{% bootstrap_field form.arquivo %}</p>
            </div>
            <div class="col-xs-9 col-sm-6 col-md-3">
              <small>Apostilas</small> <a href=""><i class="glyphicon glyphicon-question-sign" title="Se preencher 1 campo o outro será requerido"></i></a>
              <p>{% bootstrap_field form.material_valor %}</p>
              <p>{% bootstrap_field form.material_parcelas %}</p>
              <p>{% bootstrap_field form.assinado %}</p>
              <small>Recisão</small> <a href=""><i class="glyphicon glyphicon-question-sign" title="Se marcar como Rescindido o &#10 motivo será requerido. &#10 &#10 As parcelas não pagas, deixarão de ser contabilizadas e &#10 todas parcelas deixarão de ser ediáveis. "></i></a>
              <p>{% bootstrap_field form.rescindido %}</p>
              <p>{% bootstrap_field form.observacao %}</p>
            </div>
          </div>
        </div>
        <!-- glyphicon glyphicon-print -->
        <div class="form-actions">
          {% if can_edit %}
            <input type="submit" value="Salvar" class="btn btn-primary">
          {% endif %}
          {% if contrato %}
            <a href="{% url 'contrato_cadastro' contrato.id %}" class="btn btn-secondary">Voltar para o contrato {{ form.instance.ano }}</a>
          {% endif %}
          <a href="{% url 'contratos_aluno_list' aluno.id %}" class="btn btn-secondary">Contratos do aluno</a>
        </div>
    </form>
  </div>
</div>

{% endblock content %}

{% block extra_js %}
  {{ form.media.js }}
{% endblock extra_js %}
