{% extends 'base.html'%}
{% load bootstrap3 %}

{% block page_title %}
  <div class="page-header">
  <!-- TODO erver esse br -->
  <br>
    {% if aluno.id %}
        Aluno: {{ aluno.nome }}
    {% else %}
       Aluno
    {% endif %}
  </div>
{% endblock page_title %}

{% block content %}
<div class="container">
  <div class="row-fluid span10">
    {% include "base_aluno.html" %}
    <table class="table table-striped">
      {% if can_edit %}
        {% if aluno.count_responsavel_financeiro == 0 %}
          <div class="alert alert-warning">Necessário definir um Responsável Financeiro</div>
        {% else %}
          <caption>
            <div style="float:right; margin-right:10px">
              <a href="{% url 'contrato_form' aluno.id %}" class="btn btn-mini btn-success">Novo Contrato</a>
            div>
          </caption>
        {% endif %}
      {% endif %}
      <thead>
        <tr>
          <th>Contrato Ano</th>
          <th>Responsável</th>
          <th>Aluno</th>
          <th>Série</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
      {% for contrato in object_list %}
        <tr>
          <td>
            <a href="{% url 'contrato_cadastro' contrato.id %}">{{ contrato.ano|default:'--' }}</a>
          </td>
          <td>{{ contrato.responsavel.nome }}</td>
          <td>{{ contrato.aluno.nome }}</td>
          <td>{{ contrato.serie|default:'--' }}</td>
          <td>{{ contrato.data_assinatura|date:'d/m/Y' }}</td>
        </tr>
      {% empty %}
      <tr>
        <td>
          Nenhum contrato cadastrado
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
{% block extra_js %}
{% endblock extra_js%}
