{% extends 'base.html'%}
{% load bootstrap3 %}

{% block page_title %}
  <div class="page-header">
  <!-- TODO erver esse br -->
  <br>
    {% if aluno.id %}
        Aluno: {{ aluno.nome }}  <small>Total: {{ total }}</small>
    {% else %}
       Aluno
    {% endif %}
  </div>
{% endblock page_title %}

{% block content %}
  <div class="container">
    <div class="row-fluid span10">
      {% include "base_aluno.html" %}
     <div id="chart_div" style="width: 100%; height: 500px;"></div>
  </div>
{% endblock content %}
{% block extra_js %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    var str_pgtos = "{{ object_list }}"
    var pgtos = JSON.parse(str_pgtos.replace(/&quot;/g,'"'));

    console.log(pgtos)
    // for (i = 0, len = pgtos.length, text = ""; i < len; i++) { 
    //     console.log(i);
    //   }; 

    function drawChart() {
      var data = google.visualization.arrayToDataTable(
        [
          ['Datas', 'Data Prevista', 'Data efetivada'],
          ['2018',   10,      5],
          ['2018',   10,      5],
          ['2018',   10,      6],
          ['2018',   10,      12],
          ['2018',   10,      15],
          ['2018',   10,      15],
          ['2018',   10,      16],
          ['2018',   10,      12],
          ['2018',   10,      0],
          ['2018',   10,      5],
          ['2018',   10,      6],
          ['2018',   10,      4]]
        );

      var options = {
        title: 'Performance de pagamentos',
        hAxis: {title: 'Anos',  titleTextStyle: {color: '#333'}},
        vAxis: {minValue: 0}
      };

      var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
  </script>
{% endblock extra_js%}
