{% extends 'base.html'%}
{% load bootstrap3 %}
{% load numberformat_br %}
{% block css %}
  <style type="text/css">
    #id_ano {
      width: 80px;
      height: 35px;
    }
    #id_serie{
      width: 250px;
      height: 35px;
    }
   </style>
{% endblock css %}
{% block page_title %}
  <div class="page-header">
  <br>
    {% if escola %}
      Inadimplentes / Escola: {{ escola.nome }} <small>Lançamentos: {{ lancamentos }}</small>
    {% else %}
      Inadimplentes
    {% endif %}
  </div>
{% endblock page_title %}

{% block content %}
<div class="container">
  {% include "base_adm.html" %}
  <div class="row-fluid span10">
    <form class="form-inline well" method="GET" >
     {{ form.errors }}
      <div class="form-group">
        {% bootstrap_field form.ano %}
        {% bootstrap_field form.mes %} a
        {% bootstrap_field form.mes_fim %}
        {% bootstrap_field form.serie %}
        {% bootstrap_field form.cpf_resp_fin %}
      </div>
      <p></p>

      <button type="submit" class="btn btn-primary" title="Filtrar"><i class="glyphicon glyphicon-search"></i></button>
      <a class="btn btn-small btn-info" href="." title="Apagar o filtro e listar todos"><i class="glyphicon glyphicon-remove-circle"></i></a>
   
    </form>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Responsável CPF <br>Série - aluno</th>
        <th>celular</th>
        <th>Data</th>
        <th>Valor</th>
        <th>Multa</th>
        <th>Juros</th>
        <th>Total</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td span="4" ><small>Total</small><br>
          {% if total > 0 %}
            <font color="blue">R$ {{ total|numberformat_br }}</font>
          {% else %}
            <font color="red">R$ {{ total|numberformat_br }}</font>
          {% endif %}
        </td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
    <tbody>
      {% for pagamento in object_list %}
        <tr class="{{ pagamento.get_context_alert }}">
          <td>
            <small>
                {{ pagamento.contrato.contratoaluno.responsavel.nome }} - {{ pagamento.contrato.contratoaluno.responsavel.cpf }}<br>
                {{ pagamento.contrato.contratoaluno.serie }} - {{ pagamento.contrato.contratoaluno.aluno.nome }}</small>
            </small>
          </td>
          <td>
            {{ pagamento.contrato.contratoaluno.responsavel.celular }}<br>
            <small>{{ pagamento.contrato.contratoaluno.responsavel.email }}</small>
          </td>
          <td>
            {{ pagamento.data|date:'d/m/Y' }}
          </td>
          <td>
            <font color="{{ pagamento.get_color_display }}">R$ {{ pagamento.valor|numberformat_br }}</font>
          </td>
          <td>
            R$ {{ pagamento.get_multa|numberformat_br }}
          </td>
          <td>R$ {{ pagamento.get_juros|numberformat_br }}</td>
          <td>
            {% if pagamento.categoria.id == 1 and not pagamento.efet %}
              R$ {{ pagamento.get_valor_a_pagar|numberformat_br }}
            {% else %}
              R$ {{ pagamento.valor|numberformat_br }}
            {% endif %}
          </td>
          {% empty %}
        <tr>
          <td>
            Nenhum pagamento encontrado
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'pagination.html' %}

{% endblock content %}