{% extends 'base.html'%}
{% load bootstrap3 %}
{% load numberformat_br %}
{% block css %}
  <style type="text/css">
    #id_ano {
      width: 80px;
      height: 35px;
    }
    #id_serie{
      width: 250px;
      height: 35px;
    }
   </style>
{% endblock css %}
{% block page_title %}
  <div class="page-header">
  <br>
    {% if escola %}
      Inadimplentes / Escola: {{ escola.nome }} <small>Lançamentos: {{ lancamentos }}</small>
    {% else %}
      Inadimplentes
    {% endif %}
  </div>
{% endblock page_title %}

{% block content %}
<div class="container">
  {% include "base_adm.html" %}
  <div class="row-fluid span10">
    <form class="form-inline well" method="GET" >
     {{ form.errors }}
      <div class="form-group">
        {% bootstrap_field form.ano %}
        {% bootstrap_field form.serie %}
        {% bootstrap_field form.cpf_resp_fin %}
        {% bootstrap_field form.responsavel_nome %}
      </div>
      <p></p>
      <div>
        {% bootstrap_field form.aluno_nome %}
      </div>
      <p></p>

      <button type="submit" class="btn btn-primary" title="Filtrar"><i class="glyphicon glyphicon-search"></i></button>
      <a class="btn btn-small btn-info" href="." title="Apagar o filtro e listar todos"><i class="glyphicon glyphicon-remove-circle"></i></a>
   
    </form>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Responsável CPF <br>Série - aluno</th>
        <th>celular</th>
        <th>Ano contrato</th>
        <th>Pgto Atrasados</th>
        <th>Valor</th>
        <th>Multa</th>
        <th>Juros</th>
        <th>Total</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td span="4" >
            R$ {{ total|numberformat_br }}
        </td>
        <td >
            R$ {{ multa|numberformat_br }}
        </td>
        <td >
            R$ {{ juros|numberformat_br }}
        </td>
        <td id="tatal_final">
        </td>
      </tr>
    </tfoot>
    <tbody id="inadimplentes">
      {% for pagamento in object_list %}
        <tr>
          <td id={{pagamento.id}}>
            <small>
                {{ pagamento.responsavel_nome }} - {{ pagamento.cpf_resp_fin }}<br>
                {{ pagamento.serie }} - {{ pagamento.aluno_nome }}</small>
            </small>
          </td>
          <td>
            {{ pagamento.celular }}<br>
            <small>{{ pagamento.email }}</small>
          </td>
          <td>
            {{ pagamento.ano }}
          </td>
          <td>{{ pagamento.pagamentos_atrasados }}</td>
          <td id='valor_id_{{pagamento.id}}'>
            R$ {{ pagamento.valor|numberformat_br }}
          </td>
          <td id='multa_id_{{pagamento.id}}'>
            R$ {{ pagamento.multa|numberformat_br }}
          </td>
          <td id='juros_id_{{pagamento.id}}'>
            R$ {{ pagamento.juros|numberformat_br }}
          <td id='total_id_{{pagamento.id}}'>
          </td>
          {% empty %}
        <tr>
          <td>
            Nenhum pagamento encontrado
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'pagination.html' %}

{% endblock content %}
{% block extra_js %}
  <script type="text/javascript">
    function sumDebitos(pk){
      let id = pk;
      console.log("ID", id)
      let valor = document.getElementById("valor_id_"+id).innerText.slice(2,).replace('.', '');
      let multa = document.getElementById("multa_id_"+id).innerText.slice(2,).replace('.', '');
      let juros = document.getElementById("juros_id_"+id).innerText.slice(2,).replace('.', '');

      let valorFloat = parseFloat(valor.replace(',', '.'));
      let multaFloat = parseFloat(multa.replace(',', '.'));
      let jurosFloat = parseFloat(juros.replace(',', '.'));
      let totalFloat = valorFloat + multaFloat + jurosFloat;
      let total = totalFloat.toFixed(2);
      document.getElementById("total_id_"+id).innerText = 'R$ ' + String(total);
      return totalFloat

    }
    function callSum(){
      let totalFinal = 0;
      for (const row of document.getElementById("inadimplentes").rows) {
        let pk = row.cells[0].id
        totalFinal += sumDebitos(pk);
      }
      totalFinal = totalFinal.toFixed(2);
      document.getElementById("tatal_final").innerText = 'R$ ' + String(totalFinal);
    }
    callSum();
  </script>
{% endblock extra_js%}