{% extends 'base.html'%}
{% load bootstrap3 %}
{% load numberformat_br %}
{% block css %}
  <style type="text/css">
    #id_ano {
      width: 80px;
      height: 35px;
    }
    #id_serie{
      width: 250px;
      height: 35px;
    }
   </style>
{% endblock css %}
{% block page_title %}
  <div class="page-header">
  <br>
    {% if escola %}
      Inadimplentes / Escola: {{ escola.nome }} <small>Quantidade: {{ lancamentos }}</small>
    {% else %}
      Inadimplentes
    {% endif %}
  </div>
{% endblock page_title %}

{% block content %}
<div class="container">
  {% include "base_adm.html" %}
  <div class="row-fluid span10">
    <form class="form-inline well" method="GET" >
     {{ form.errors }}
      <div class="form-group">
        {% bootstrap_field form.ano %}
        {% bootstrap_field form.serie %}
        {% bootstrap_field form.cpf_resp_fin %}
        {% bootstrap_field form.responsavel_nome %}
      </div>
      <p></p>
      <div>
        {% bootstrap_field form.aluno_nome %}
        {% bootstrap_field form.pagamentos_atrasados %}
        {% bootstrap_field form.order %}
      </div>
      <p></p>

      <button type="submit" class="btn btn-primary" title="Filtrar"><i class="glyphicon glyphicon-search"></i></button>
      <a class="btn btn-small btn-info" href="." title="Apagar o filtro e listar todos"><i class="glyphicon glyphicon-remove-circle"></i></a>

      {% if can_edit %}
        <caption>
         <div style="float:right; margin-right:10px">
            <input id="id_gera_xls"
                   type="button"
                   onclick="window.location.href='{% url 'inadimplentes_gera_xls' %}?pagamentos_ids={{ pagamentos_ids }}'"
                   style="margin-bottom: 5px; margin-top: 2px;"
                   class="button"
                   value="Gerar XLS">
          </div>
        </caption>
      {% endif %}
   
    </form>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Responsável CPF <br>Série - aluno</th>
        <th>celular</th>
        <th>Ano contrato</th>
        <th>Pgto Atrasados</th>
        <th>Valor</th>
        <th>Multa</th>
        <th>Juros</th>
        <th>Total</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td span="4" >
            R$ {{ total|numberformat_br }}
        </td>
        <td >
            R$ {{ multa|numberformat_br }}
        </td>
        <td >
            R$ {{ juros|numberformat_br }}
        </td>
        <td>
           R$ {{ tatal_final|numberformat_br }}
        </td>
      </tr>
    </tfoot>
    <tbody id="inadimplentes">
      {% for pagamento in object_list %}
        <tr>
          <td id={{pagamento.id}}>
            <small>
                <a href="{% url 'pagamentos_aluno_list' pagamento.contrato.contratoaluno.aluno_id %}">{{ pagamento.responsavel_nome }}</a> - {{ pagamento.cpf_resp_fin }}<br>
                {{ pagamento.serie }} - {{ pagamento.aluno_nome }}</small>
            </small>
          </td>
          <td>
            {% if pagamento.celular %}
              <a href="https://api.whatsapp.com/send?phone=5512988043675&text=Ol%C3%A1%2C%20testando%20gerador%20de%20link %}">{{ pagamento.celular|default:"--" }}
            </a><br>
            {% else %}
              --
            {% endif %}
            {% if pagamento.email %}
              <small> <a href="{% url 'cobranca_form' pagamento.id %}">{{ pagamento.email|default:"--" }}</a></small>
            {% else %}
              --
            {% endif %}
          </td>
          <td>
            {{ pagamento.ano }}<br>
            <b>Cobrado:</b>
              {% if pagamento.get_data_ultima_cobranca %}
                <a href="{% url 'msg_list' pagamento.escola_id pagamento.contrato_id %}">
                 {{ pagamento.get_data_ultima_cobranca|date:'d/m/Y'|default:"--"}}
                </a>
              {% else %}
                --
              {% endif %}
          </td>
          <td>
             <a href="#"
                data-toggle="tooltip"
                data-placement="bottom" 
                title="{% for titulo in pagamento.titulos %}{{ titulo }}; {% endfor %}">
              {{ pagamento.pagamentos_atrasados }}
              </a>
          </td>
          <td id='valor_id_{{pagamento.id}}'>
            R$ {{ pagamento.valor|numberformat_br }}
          </td>
          <td id='multa_id_{{pagamento.id}}'>
            R$ {{ pagamento.multa|numberformat_br }}
          </td>
          <td id='juros_id_{{pagamento.id}}'>
            R$ {{ pagamento.juros|numberformat_br }}
          <td id='total_id_{{pagamento.id}}'>
          </td>
          {% empty %}
        <tr>
          <td>
            Nenhum pagamento encontrado
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'pagination.html' %}

{% endblock content %}
{% block extra_js %}
  <script type="text/javascript">
    function sumDebitos(pk){
      let id = pk;
      let valor = document.getElementById("valor_id_"+id).innerText.slice(2,).replace('.', '');
      let multa = document.getElementById("multa_id_"+id).innerText.slice(2,).replace('.', '');
      let juros = document.getElementById("juros_id_"+id).innerText.slice(2,).replace('.', '');

      let valorFloat = parseFloat(valor.replace(',', '.'));
      let multaFloat = parseFloat(multa.replace(',', '.'));
      let jurosFloat = parseFloat(juros.replace(',', '.'));
      let totalFloat = valorFloat + multaFloat + jurosFloat;
      let total = totalFloat.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'});

      document.getElementById("total_id_"+id).innerText = total;
      return totalFloat

    }
    function callSumDebit(){
      for (const row of document.getElementById("inadimplentes").rows) {
        let pk = row.cells[0].id
        sumDebitos(pk);
      }
    }
    callSumDebit();
  </script>

{% endblock extra_js%}