{% extends 'base.html'%}
{% load bootstrap3 %}
{% load numberformat_br %}
{% block css %}
  <style type="text/css">
    #id_ano {
      width: 80px;
      height: 35px;
    }
    #id_serie{
      width: 250px;
      height: 35px;
    }
   </style>
{% endblock css %}
{% block page_title %}
  <div class="page-header">
  <br>
    {% if escola %}
      Pagamentos / Escola: {{ escola.nome }} <small>Lançamentos: {{ lancamentos }}</small>
    {% else %}
      Pagamentos
    {% endif %}
  </div>
{% endblock page_title %}

{% block content %}
<div class="container">
  {% include "base_adm.html" %}
  <div class="row-fluid span10">
    <form class="form-inline well" method="GET" >
     {{ form.errors }}
      <div class="form-group">
        {% bootstrap_field form.ano %}
        {% bootstrap_field form.mes %} a
        {% bootstrap_field form.mes_fim %}
        {% bootstrap_field form.serie %}
        {% bootstrap_field form.cpf_resp_fin %}
        {% bootstrap_field form.efet %}
      </div>
      <p></p>
      <div class="form-group">
        {% bootstrap_field form.categoria %}
        {% bootstrap_field form.titulo %}
        {% bootstrap_field form.tipo  %}
      </div>
      <p></p>
      <div class="form-group">
        {% bootstrap_field form.forma_pgto %}
      </div>
      <p></p>
      <div class="form-group">
        {% bootstrap_field form.todas_ou_sem %}
      </div>


      <button type="submit" class="btn btn-primary" title="Filtrar"><i class="glyphicon glyphicon-search"></i></button>
      <a class="btn btn-small btn-info" href="." title="Apagar o filtro e listar todos"><i class="glyphicon glyphicon-remove-circle"></i></a>
   
    {% if can_edit %}
      <caption>
       <div style="float:right; margin-right:10px">
        <a href="{% url 'pagamento_form' escola.id %}" class="btn btn-mini btn-success">Novo Pagamento</a>
          <!-- <input type="submit" name="gerar_planilha_xls" value="Gerar planilha" class="btn btn-primary"> -->

          <input id="id_gera_xls"
                 type="button"
                 onclick="window.location.href='{% url 'pagamentos_gera_xls' %}?pagamentos_ids={{ pagamentos_ids }}'"
                 style="margin-bottom: 5px; margin-top: 2px;"
                 class="button"
                 value="Gerar XLS">
        </div>
      </caption>
    {% endif %}
    </form>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Título</th>
        <th>Data Prevista</th>
        <th>Data Efetivado</th>
        <th>Valor</th>
        <th>Categoria</th>
        <th>Responsável/<br>Aluno</th>
        <th>Forma de <br>Pagamento</th>
        <th>Pagar</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td><small>entradas <br>R$ {{ entradas|numberformat_br }}</small></td>
        <td><small>saídas <br>R$ {{ saidas|numberformat_br }}</small></td>
        <td span="4" ><small>Total</small><br>
          {% if total > 0 %}
            <font color="blue">R$ {{ total|numberformat_br }}</font>
          {% else %}
            <font color="red">R$ {{ total|numberformat_br }}</font>
          {% endif %}
        </td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
    <tbody>
      {% for pagamento in object_list %}
        <tr class="{{ pagamento.get_context_alert }}">
          <td>
            {% if can_edit %}
            <a href="{% url 'pagamento_edit' escola.id pagamento.id %}?list">{{ pagamento.titulo|default:'--' }}</a>
            {% else %}
              {{ pagamento.titulo|default:'--' }}
            {% endif %}
            {% if  pagamento.atrasado %}
              <br>
              <small>Multa: R$ {{ pagamento.get_multa|numberformat_br }} </small>
            {% endif%}
          </td>
          <td>
            {{ pagamento.data|date:'d/m/Y' }}
            {% if pagamento.atrasado %}
              <br>
              <small>Juros R$ {{ pagamento.get_juros|numberformat_br }} </small>
            {% endif %}
          </td>
          <td>
            {% if pagamento.efet %}
            {{ pagamento.data_pag|date:'d/m/Y' }}
            {% endif %}
          </td>
          <td>
            <font color="{{ pagamento.get_color_display }}">R$ {{ pagamento.valor|numberformat_br }}</font>
            {% if pagamento.efet and pagamento.taxa_cartao %}
              <br><small>R$ {{ pagamento.get_valor_liquido|numberformat_br }} (-{{ pagamento.taxa_cartao }} %)</small>
            {% endif %}
            {% if pagamento.categoria.id == 1 and not pagamento.efet %}
              <br>
              <small>R$ {{ pagamento.get_valor_a_pagar|numberformat_br }} </small>
            {% endif %}
          </td>
          <td>{{ pagamento.categoria }}</td>
          <td>
            <small>
              {% if pagamento.contrato %}
                {{ pagamento.contrato.contratoaluno.responsavel.nome }}/<br>
                {{ pagamento.contrato.contratoaluno.aluno.nome }}/ <br>
                <small>{{ pagamento.contrato.contratoaluno.serie }}</small>
              {% else %}
                {{ pagamento.categoria }}
              {% endif %}
            </small>
          </td>
          <td>{{ pagamento.get_forma_pgto_display }}{% if pagamento.taxa_cartao %}<br><small>taxa: {{ pagamento.taxa_cartao }} % </small>{% endif %}</td>
         <!--<td>
              {% if pagamento.efet %}
                  Pago: <span class="glyphicon glyphicon-ok-circle" style="color:green"></span>
                {% else %}
                  <label>
                    <input type="checkbox"
                           checkbox_id="{{ pagamento.id }}"
                           value="pagamento_{{ pagamento.id }}"
                           name="set_status"
                           onchange="set_pagamento_status(this)" 
                           > Pagar
                  </label>
              {% endif %}
            </td> -->
          <td>
              {% if pagamento.can_pay %}
                   <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#pagamento_{{ pagamento.id }}">Pagar</button>
              {% else %}
                  {% if pagamento.efet %}
                    Pago: <span class="glyphicon glyphicon-ok-circle" style="color:green"></span><br>
                    <a href="{% url 'print_recibo' pagamento.id %}">Recibo</a>
                  {% endif %}
              {% endif %}
          </td>
          {% if pagamento.can_pay %}
            <tr>
              <!-- Modal -->
              {% include "financeiro/pagamento_modal.html" %}
            </tr>
          {% endif %}
          {% empty %}
        <tr>
          <td>
            Nenhum pagamento encontrado
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'pagination.html' %}

  <div class="panel-group">
    
        <div class="row ">
          <div class="col-md-6">
              <div class="panel panel-default" style="height:350px;width:500px;">
                <div class="panel-heading">Comparativo entre Entradas e Saídas ({{ situacao }})</div>
                  <div class="panel-body">
                    <div id="piechart_3d"></div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="panel panel-default" style="height:350px;width:500px;">
                <div class="panel-heading">Entradas: Meios de Pagamentos usados</div>
                <div class="panel-body">
                  <div id="chart_div_1"></div>
                </div>
              </div>
          </div>

          <div class="col-md-6">
              <div class="panel panel-default" style="height:350px;width:500px;">
                <div class="panel-heading">Saídas: Meios de Pagamentos usados</div>
                <div class="panel-body">
                  <div id="chart_div_2"></div>
                </div>
              </div>
          </div>
     
  </div>
{% endblock content %}
{% block extra_js %}
  {{ form.media.js}}
 <script type="text/javascript">
    function set_pago(field){
      var pagamento_id = $(field).attr('button_id')
      var meio_pgto = $("#select_id_"+pagamento_id).val();
      // Zero: 0, é um id válido
      // não quebra a url ao carregar a página
      $.get("{% url 'set_pagamento_status' 0 %}?meio_pgto=meio_pgto_id".replace('0', pagamento_id).replace('meio_pgto_id', meio_pgto), function(){
        location.reload();
        });
    }
  </script>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Entradas',  {{ entradas }}],
          ['Saídas',  {{ saidas }}],
        ]);

        var options = {
          title: 'Entradas x Saídas',
          is3D: true,
          minValue: 0.0
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
   </script>

      <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawBasic);

          function drawBasic() {

            var data = google.visualization.arrayToDataTable([
              ['Meios de pgamento', 'R$',],
              ['Boleto bancário', {{ boleto_bancario }}],
              ['Cartão de crédito', {{ cartao_credito }} ],
              ['Cartão de débito', {{ cartao_debto }}],
              ['Cheque', {{ cheque }}],
              ['Dinheiro', {{ dinheiro }}],
              ['Permuta', {{ permuta }}],
              ['Transferência bancária', {{ transf_bancaria }}],
              ['Indefinidos', {{ indefinidos }}],
              ['Entradas', {{ entradas }}]
            ]);

            var options = {
              title: 'Entradas',
              chartArea: {width: '40%'},
              hAxis: {
                title: 'Movimentação',
                minValue: 0.0
              },
              vAxis: {
                title: 'Recebimentos'
              }
            };

            var chart = new google.visualization.BarChart(document.getElementById('chart_div_1'));

            chart.draw(data, options);
          }  
      </script>

      <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawBasic);

          function drawBasic() {

            var data = google.visualization.arrayToDataTable([
              ['Meios de pgamento', 'R$',],
              ['Boleto bancário', {{ saidas_boleto_bancario }}],
              ['Cartão de crédito', {{ saidas_cartao_credito }}],
              ['Cartão de débito', {{ saidas_cartao_debto }}],
              ['Cheque', {{ saidas_cheque }}],
              ['Dinheiro', {{ saidas_dinheiro }}],
              ['Permuta', {{ saidas_permuta }}],
              ['Transferência bancária', {{ saidas_transf_bancaria }}],
              ['Indefinidos', {{ saidas_indefinidos }}],
              ['Saídas', {{ saidas }}],
            ]);

            var options = {
              title: 'Saídas',
              chartArea: {width: '40%'},
              hAxis: {
                title: 'Movimentação',
                minValue: 0.0
              },
              vAxis: {
                title: 'Pagamentos'
              },
              colors: ['#e0440e']

            };

            var chart = new google.visualization.BarChart(document.getElementById('chart_div_2'));

            chart.draw(data, options);
          }  
      </script>
  
{% endblock extra_js%}
