{% extends 'base.html'%}
{% load bootstrap3 %}
{% load numberformat_br %}
{% block css %}
  <style type="text/css">
    #id_serie, #id_ano {
      width: 80px;
      height: 35px;
    }
   </style>
{% endblock css %}
{% block page_title %}
  <div class="page-header">
  <!-- TODO erver esse br -->
  <br>
    {% if escola %}
      Pagamentos / Escola: {{ escola.nome }}
    {% else %}
      Pagamentos
    {% endif %}
  </div>
{% endblock page_title %}

{% block content %}
<div class="container">
  {% include "base_adm.html" %}
  <div class="row-fluid span10">
    <form class="form-inline well" method="GET" >
      <div class="form-group">
        {% bootstrap_field form.ano %}
        {% bootstrap_field form.mes %}
        {% bootstrap_field form.titulo %}
        {% bootstrap_field form.efet %}
      </div>
      <button type="submit" class="btn btn-primary" title="Filtrar"><i class="glyphicon glyphicon-search"></i></button>
      <a class="btn btn-small btn-info" href="." title="Apagar o filtro e listar todos"><i class="glyphicon glyphicon-remove-circle"></i></a>
    {% if can_edit %}
      <caption>
       <div style="float:right; margin-right:10px">
        <a href="{% url 'pagamento_form' escola.id %}" class="btn btn-mini btn-success">Novo Pagamento</a>
       </div>
      </caption>
    {% endif %}
    </form>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Título</th>
        <th>Data</th>
        <th>Valor</th>
        <th>Responsavel/<br>Aluno</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    {% for pagamento in object_list %}
      <tr class="{{ pagamento.get_context_alert }}">
        <td>
          {% if can_edit %}
            <a href="{% url 'pagamento_edit' escola.pk pagamento.id  %}">{{ pagamento.titulo|default:'--' }}</a>
          {% else %}
            {{ pagamento.titulo|default:'--' }}
          {% endif %}
        </td>
        <td>{{ pagamento.data|date:'d/m/Y' }}</td>
        <td valor_id="valor_id_{{ pagamento.id }}"><font color="{{ pagamento.get_color_display }}">R$ {{ pagamento.valor|numberformat_br|default:"--" }} {{ pagamento.get_tipo_display }}</font></td>
        <td><font color="{{ pagamento.get_color_display }}">R$ {{ pagamento.valor_pag|numberformat_br|default:"--" }}</font></td>
        <td>{{ pagamento.contrato.responsavel.nome }}/<br>{{ pagamento.contrato.aluno.nome }}</td>
        <td>
          {% if pagamento.efet %}
              Pago: <span class="glyphicon glyphicon-ok-circle" style="color:green"></span>
            {% else %}
              <label>
                <input type="checkbox"
                       checkbox_id="{{ pagamento.id }}"
                       value="pagamento_{{ pagamento.id }}"
                       name="set_status"
                       onchange="set_pagamento_status(this)" 
                       > Pagar
              </label>
            {% endif %}
        </td>
      </tr>
    {% empty %}
    <tr>
      <td>
        Nenhum pagamento encontrado
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% include 'pagination.html' %}
</div>

{% endblock content %}
{% block extra_js %}
   <script type="text/javascript">
    function set_pagamento_status(field){
      if($(field).is(':checked')){
        var pagamento_id = $(field).attr('checkbox_id')
        // alert(pagamento_id)
        // Zero: 0, é um id válido
        // não quebra a url ao carregar a página
        if (confirm('Tem certeza? ' + pagamento_id)) {
            $.get("{% url 'set_pagamento_status' 0 %}".replace('0', pagamento_id), function(){
              location.reload();
              });
        } else {
          $(field).prop('checked', false);
        }
      }      
    }
  </script>
{% endblock extra_js%}
