
{% extends 'base.html'%}
{% load bootstrap3 %}
{% block css %}
  <style type="text/css">
    #id_tipo,
    #id_data_prevista,
    #id_data_pag,
    #id_valor,
    #id_valor_pag {
      width: 100px;
      height: 35px;
    }
   </style>
{% endblock css %}
{% block page_title %}
  <div class="page-header">
  <!-- TODO erver esse br -->
  <br>
  {% if contrato %}
    {% if aluno.id %}
        Aluno: {{ aluno.nome }}
    {% else %}
       Aluno
    {% endif %}
  {% else %}
    {% if escola %}
      Pagamentos / Escola: {{ escola.nome }}
    {% else %}
      Pagamentos
    {% endif %}
  {% endif %}
  </div>
{% endblock page_title %}

{% block content %}
<div class="container">
  <div class="row-fluid span10">
    {% if contrato %}
      {% include "base_aluno.html" %}
    {% endif %}
    <br>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.errors }}
        <div class="form-group center_div" >
          <div class="row">
            <!-- {# Celular, Tablet, Computador #} -->
            <div class="col-xs-9 col-sm-6 col-md-3">
             {% bootstrap_field form.titulo %}
            {% bootstrap_field form.nr_documento %}
          </div>
          <div class="col-xs-9 col-sm-6 col-md-3">
             {% bootstrap_field form.data_prevista %}
             {% bootstrap_field form.valor %}
             {% bootstrap_field form.tipo %}
            <!-- {% bootstrap_field form.data_pag %}
            {% bootstrap_field form.valor_pag %} -->
            {% bootstrap_field form.efet %}
          </div>
          <div class="col-xs-9 col-sm-6 col-md-3">
            {% bootstrap_field form.observacao %}
          </div>
         </div>
      </div>

      <!-- glyphicon glyphicon-print -->
      <div class="form-actions">
        {% if can_edit %}
          <input type="submit" value="Salvar" class="btn btn-primary">
        {% endif %}
        {% if contrato %}
          <a href="{% url 'pagamentos_aluno_list' contrato.aluno.id %}" class="btn btn-secondary">Pagamentos do aluno {{ contrato.ano }}</a>
        {% endif %}
        <a href="{% url 'pagamentos_list' escola.id %}" class="btn btn-secondary">Lista de pagamentoss</a>
      </div>
    </form>
  </div>
</div>

{% endblock content %}

{% block extra_js %}
    {{ form.media }}
{% endblock extra_js %}
