{% extends 'base.html'%}
{% load bootstrap3 %}
{% load numberformat_br %}
{% block css %}
   <link href="/static/datetimepicker/css/bootstrap-datetimepicker.min.css" type="text/css" media="all" rel="stylesheet" />
   {{ form.media.css }}
  <style type="text/css">
    #id_tipo,
    /*#id_data,*/
    /*#id_data_pag,*/
    #id_valor,
    #id_valor_pag {
      width: 100px;
      height: 35px;
    }
    .icon-success {
        color: #5CB85C;
    }
    .icon-error {
        color: #cc0000;
    }
   </style>
{% endblock css %}
{% block page_title %}
  <div class="page-header">
  <!-- TODO erver esse br -->
  <br>
  {% if contrato %}
    {% if aluno.id %}
        Aluno: {{ aluno.nome }}
    {% else %}
       Aluno
    {% endif %}
  {% else %}
    {% if escola %}
      Pagamentos / Escola: {{ escola.nome }}
    {% else %}
      Pagamentos
    {% endif %}
  {% endif %}
  </div>
{% endblock page_title %}

{% block content %}
<div class="container">
  <div class="row-fluid span10">
    {% if contrato %}
      {% include "base_aluno.html" %}
    {% endif %}
    <br>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.errors }}
        <div class="form-group center_div" >
          <div class="row">
            <!-- {# Celular, Tablet, Computador #} -->
            <div class="col-xs-9 col-sm-6 col-md-3">
             {% bootstrap_field form.titulo %}
             {% bootstrap_field form.nr_documento %}
             {% if form.instance.categoria.id == 1 or form.instance.categoria.id == 2 or form.instance.categoria.id == 9 %}
             <b>Categoria</b><br>
                {{ form.instance.categoria }}
             {% endif %} 
             {% bootstrap_field form.categoria %}
             {% bootstrap_field form.forma_pgto %}
             {% bootstrap_field form.bandeira %}
          </div>
          <div class="col-xs-9 col-sm-6 col-md-3">
             {% bootstrap_field form.data %}
             {% bootstrap_field form.data_pag %}
             {% bootstrap_field form.tipo %}
             {% bootstrap_field form.valor %}
             <small>Valor previsto para data de hoje: R$ <b id='valor_previsto_id'>{{ form.instance.get_valor_a_pagar|numberformat_br }}</b></small>
             {% bootstrap_field form.efet %}
          </div>
          <div class="col-xs-9 col-sm-6 col-md-3">
            {% bootstrap_field form.observacao %}
          </div>
         </div>
      </div>

      <!-- glyphicon glyphicon-print -->
      <div class="form-actions">
        {% if can_edit %}
          {% if form.instance.id %}
            <button 
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#pagamento_{{ form.instance.id }}"
              onclick="checkValor('{{ form.instance.get_valor_a_pagar }}')">Salvar</button>
          {% else %}
            <input type="submit" value="Salvar" class="btn btn-primary">
          {% endif %}

        {% endif %}
        {% if contrato %}
          <a href="{% url 'pagamentos_aluno_list' contrato.contratoaluno.aluno.id %}" class="btn btn-secondary">Pagamentos do aluno {{ contrato.ano }}</a>
        {% endif %}
        <a href="{% url 'pagamentos_list' escola.id %}" class="btn btn-secondary">Lista de pagamentoss</a>
        {% if form.instance.id %}
          <!-- Modal -->
          {% include "financeiro/pagamento_confirm_modal.html" %}
        {% endif %}
      </div>
    </form>
  </div>
</div>

{% endblock content %}

{% block extra_js %}
    <script type="text/javascript" src="/static/datetimepicker/js/moment.min.js"></script>
    <script type="text/javascript" src="/static/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/static/datetimepicker/js/locales/bootstrap-datetimepicker.pt-BR.js"></script>

    <script type="text/javascript">
      function checkValor(referenceValue){
        let reference = referenceValue
        let pTagColor = '<p>'
        let preenchido = document.getElementById("id_valor").value
        let valorPrevisto = document.getElementById("valor_previsto_id").innerHTML
        valorPrevisto = parseFloat(valorPrevisto.replace(',', '.'));
        let efet = $("#id_efet").is(":checked");
        let formaPagamento = $("#id_forma_pgto option:selected").text();
        let pago = '<spam class="glyphicon glyphicon-remove icon-error"></spam>  Pagamento não efetivado'
        let valorPago = parseFloat(preenchido.replace(',', '.'));
        
        let diferenca = valorPrevisto - valorPago
        
        valorPago = valorPago.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'});
        if (efet) {
          pago = '<spam class="glyphicon glyphicon-ok icon-success"></spam> Pagamento Efetivado'
        }

        if (formaPagamento === '--') {
          formaPagamento = '<spam class="glyphicon glyphicon-remove icon-error"></spam> Sem forma de Pagamento'
        } else {
          formaPagamento = '<spam class="glyphicon glyphicon-ok icon-success"></spam><small> '+ formaPagamento +'</small>'
        }

        hoje = new Date();
        let gerarParcela = ''

        if (diferenca > 0) {
          gerarParcela = '<input type="checkbox" id="Parcela_extra" name="parcelaAdicioanl">\
                            <label for="horns"> Gerar parcela complementar para: </label>'
          gerarParcela += '<input id="date_id" type="date" value=new Date()>'
          gerarParcela += '<input id="parcela_adicional_id" type=number step=any />Parcela adicioanal<br />'
        }

        if (reference != preenchido) {
          pTagColor = '<p style="color:red;">'
        } else {
          pTagColor = '<p style="color:green;">'
        }
        

        document.getElementById("efetivado_ou_nao").innerHTML  = '<small> '+ pago +'</small>' + '</p>';
        document.getElementById("forma_pagto").innerHTML  = formaPagamento;
        document.getElementById("new_valor").innerHTML  = pTagColor + valorPago;
        document.getElementById("gerar_parcela").innerHTML = gerarParcela;
        document.getElementById("date_id").defaultValue = hoje.toISOString().split('T')[0];
        document.getElementById("parcela_adicional_id").defaultValue = diferenca.toFixed(2);

      }
      function gerarParcelaAdicional(){
        console.log("CHAMOU!!!!");
      }
    </script>
    {{ form.media.js }}
{% endblock extra_js %}
