{% extends 'base.html'%}
{% load bootstrap3 %}
{% block css %}
  <style type="text/css">
    #id_serie, #id_ano {
      width: 80px;
      height: 35px;
    }
   </style>
{% endblock css %}
{% block page_title %}
  <div class="page-header">
  <!-- TODO erver esse br -->
  <br>
    {% if aluno %}
        Aluno: {{ aluno.nome }}
    {% else %}
       Aluno
    {% endif %}
  </div>
{% endblock page_title %}

{% block content %}
<div class="container">
  <div class="row-fluid span10">
    {% include "base_aluno.html" %}
    <form class="form-inline well" method="GET" >
      <div class="form-group">
        {% bootstrap_field form.ano %}
        {% bootstrap_field form.efet %}
        {% bootstrap_field form.titulo %}

      </div>
      <button type="submit" class="btn btn-primary" title="Filtrar"><i class="glyphicon glyphicon-search"></i></button>
      <a class="btn btn-small btn-info" href="." title="Apagar o filtro e listar todos"><i class="glyphicon glyphicon-remove-circle"></i></a>
      {% if can_edit %}
      <caption>
       <div style="float:right; margin-right:10px">
        <a href="{% url 'pagamento_contrato_form' escola.id contrato.id %}" class="btn btn-mini btn-success">Novo Pagamento</a>
       </div>
      </caption>
    {% endif %}
    </form>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Título</th>
        <th>Data Prevista</th>
        <th>Data Pago</th>
        <th>Valor</th>
        <th>Valor <br>com desconto</th>
        <th>Responsavel/<br>Aluno</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    {% for pagamento in object_list %}
      <tr class="{{ pagamento.get_context_alert }}">
        <td>
          {% if can_edit %}
          <a href="{% url 'pagamento_edit' escola.id pagamento.id %}">{{ pagamento.titulo|default:'--' }}</a>
          {% else %}
            {{ pagamento.titulo|default:'--' }}
          {% endif %}
        </td>
        <td>{{ pagamento.data_prevista|date:'d/m/Y' }}</td>
        <td>{{ pagamento.data_pag|date:'d/m/Y'|default:"--" }}</td>
        <td><font color="{{ pagamento.get_color_display }}">R$ {{ pagamento.valor }}</font></td>
        <td><font color="{{ pagamento.get_color_display }}">R$ {{ pagamento.get_valor_com_desconto }}</font></td>
        <td>{{ pagamento.contrato.responsavel.nome }}/<br>{{ pagamento.contrato.aluno.nome }}</td>
        <td>{{ pagamento.efet|yesno:'Pago,Em Aberto' }}</td>
      </tr>
    {% empty %}
    <tr>
      <td>
        Nenhum pagamento encontrado
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
{% block extra_js %}
{% endblock extra_js%}
