{% extends 'base.html'%}
{% load bootstrap3 %}
{% load numberformat_br %}

{% block css %}
<style type="text/css" media="print">
    .esconde_na_impressao {
        display: none;
    }
</style>
{% endblock css %}
{% block page_title %}
  <div class="page-header esconde_na_impressao">
  <!-- TODO erver esse br -->
  <br>
    {% if aluno %}
        Aluno: {{ aluno.nome }}
    {% else %}
       Aluno
    {% endif %}
  </div>
{% endblock page_title %}
{% block content %}
<div class="container">
  {% include "base_aluno.html" %}
    {% if pagamento.efet %}
      <div class="form-actions esconde_na_impressao">
       <a href=""  value="Imprimir" onclick="window.print()" class="btn btn-default" title="click para para imprimir ou gerar um pdf">
        <span class="glyphicon glyphicon-print" aria-hidden="true" ></span> Imprimir</a> 
      </div>
      <div class="form-inline well">
        <img src="{{ escola.logo.url }}" height="50"/>
         <h2 align="center">Recibo: {{ pagamento.titulo|default:"---" }}</h2>
         <h6 class="center">{{ escola }} CNPJ: {{ escola.cnpj }}</h6>
         <h5><small>Rua {{ escola.endereco|default:"--" }}, nr {{ escola.numero|default:"--" }}, {{ escola.bairro|default:"--" }}</small>
         <h5><small>tel. {{ escola.telefone|default:"--" }}</small></h5>
         <h5><small>email {{ escola.email|default:"--" }}</small></h5>

         <p>
          Recebemos de : <b>{{ contrato.responsavel|default:"---" }}</b> 
          CPF: {{ contrato.responsavel.cpf }},
          a quantida de: <b>R$ {{ pagamento.valor|numberformat_br }}</b> ( {{ pagamento.get_valor_extenso }} ),
          em <b>{{ pagamento.data|date:"d/m/Y" }}</b>,
          referente o pagamento da <b>{{ pagamento.titulo|default:"---" }}</b>
          do contrato de serviços educacionais, ano <b>{{ contrato.ano|default:"---" }}</b>
          do(a) aluno(a) <b>{{ contrato.aluno }}</b>
         </p>
         <p>{{ escola.municipio }}, {{ data|date:"d/m/Y" }}</p>
      </div>
      <div class="form-actions esconde_na_impressao">
        {% if contrato.responsavel.email %}
          <form id="sendMail" method="POST">
            {% csrf_token %}
            <!-- <input type="submit" name=atualizar_data_conclusao class="button-small" value="Atualizar" /> -->
              Você pode enviar esse recibo para o email: <b>{{ contrato.responsavel.email|default:"---" }} </b>
              <input type="submit"  name="enviar_email_responsavel" title="click para enviar o recibo" class="glyphicon glyphicon-envelope"> 
          </form>
        {% else %}
          <div class="alert alert-warning" role="alert"><i class="glyphicon glyphicon-exclamation-sign"></i>Responsável financeirto não tem email cadastrado.</div>
        {% endif %}
      </div>
    {% else %}
      <div class="alert alert-warning" role="alert"><i class="glyphicon glyphicon-exclamation-sign "></i> Esse Pagamento ainda não foi efetivado.</div>
    {% endif %}
</div>

{% endblock content %}