{% extends "base.html" %}
{% load bootstrap3 %}
{% block extra_css %}
    {{ endereco_form.media.css }}
{% endblock extra_css %}
{% block page_title %}
  <div class="page-header">
  <!-- TODO erver esse br -->
  <br>
    {% if perfil_form.instance.id %}
        Perfil: {{ perfil_form.instance.nome }}
    {% else %}
       Perfil
    {% endif %}
  </div>
{% endblock page_title %}

{% block content %}
<div class="container">
  {% include "base_adm.html" %}
  <div class="row-fluid span10">
    <form method="POST">
      {{ form.errors }}
      {% csrf_token %}
      <div class="form-group center_div">
        <div class="row">
          <!-- {# Celular, Tablet, Computador #} -->
          <div class="col-xs-9 col-sm-6 col-md-3">
            {% bootstrap_field perfil_form.nome %}
            {% bootstrap_field perfil_form.email %}
            {% bootstrap_field perfil_form.cpf %}
          </div>
          <div class="col-xs-9 col-sm-6 col-md-3">
            {% bootstrap_field perfil_form.nascimento %}
            {% bootstrap_field perfil_form.sexo %}
            {% bootstrap_field perfil_form.profissao %}
          </div>
          <div class="col-xs-9 col-sm-6 col-md-3">
            {% bootstrap_field endereco_form.logradouro %}
            {% bootstrap_field endereco_form.numero %}
            {% bootstrap_field endereco_form.bairro %}
          </div>
          <div class="col-xs-9 col-sm-6 col-md-3">
            {% bootstrap_field endereco_form.cep %}
            {{ endereco_form.municipio }}
          </div>
        </div>
      </div>
      <div class="form-actions">
        <input type="submit" value="Salvar" class="btn btn-primary">
        <a href="{% url 'perfis_list' escola.pk %}" class="btn btn-secondary">Cancelar</a>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
{% block extra_js %}
  {{ endereco_form.media }}
{% endblock extra_js %}
