
{% extends 'base.html'%}
{% load bootstrap3 %}
{% load unica_escola %}

{% block css %}
{% endblock css %}
{% block page_title %}
  <div class="page-header">
  <!-- TODO erver esse br -->
  <br>
  Pessoas
  </div>
{% endblock page_title %}

{% block content %}

<div class="container">
  {% include "base_adm.html" %}
  <div class="row-fluid span10">
    <form class="form-inline well" method="GET" >
      <div class="form-group">
        {% bootstrap_field form.nome %}
        {% bootstrap_field form.email %}
        {% bootstrap_field form.cpf %}
      </div>
      <button type="submit" class="btn btn-primary" title="Filtrar"><i class="glyphicon glyphicon-search"></i></button>
      <a class="btn btn-small btn-info" href="." title="Apagar o filtro e listar todos"><i class="glyphicon glyphicon-remove-circle"></i></a>
    </form>
  </div>
    <table class="table table-striped">
      {% if can_edit %}
        <caption>
           <div style="float:right; margin-right:10px">
              <a href="{% url 'perfil_form' escola.id %}" class="btn btn-mini btn-success">Novo Perfil</a>
           </div>
        </caption>
      {% endif %}
        <thead>
          <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>CPF</th>
          </tr>
        </thead>

        <tbody>
        {% for perfil in object_list %}
          <tr>
            <td><a href="{% url 'perfil_form' escola.id perfil.id %}">{{ perfil.nome }}</a></td>
            <td>{{ perfil.email }}</td>
            <td>{{ perfil.cpf|default:'' }}</td>
          </tr>
        {% empty %}
        <tr>
          <td>
            Nenhum perfil encontrado
          </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if object_list.has_other_pages %}
      {% include 'pagination.html' %}
    {% endif %}
  </div>
</div>

{% endblock content %}

{% block extra_js %}

{% endblock extra_js%}
