{% extends "base.html" %}
{% load bootstrap3 %}

{% block page_title %}
  <div class="page-header">
  <!-- TODO erver esse br -->
  <br>
    {% if escola %}
        Usuários / Escola: {{ escola.nome }}
    {% else %}
       Usuários
    {% endif %}
  </div>
{% endblock page_title %}

{% block content %}
<div class="container">
  {% include "base_adm.html" %}
  <div class="row-fluid span10">
    <form method="POST">
      {{ form.errors }}
      {% csrf_token %}
      <div class="form-group">
        <div class="row">
          <div class="col-xs-9 col-sm-6 col-md-3">
          {% bootstrap_field form.nome %}
          {% bootstrap_field form.email %}
        </div>
        </div>
        <div class="row">
          <div class="col-xs-9 col-sm-6 col-md-3">
            {% bootstrap_field form.grupo %}
            {% bootstrap_field form.escola %}
          </div>  
        </div>
        {% if form.instance.id %}
          <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-3">
              <p>Esse usuário já pertence ao(s) grupo(s):</p>
              <ul>
                <li>username: {{ form.instance.username }}</li>
                {% for user_grupo in form.instance.usergrupos_set.all %}
                  {% if user_grupo.escola == escola %}
                  <li>{{ user_grupo.grupo.name }}</li>
                  {% endif%}
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif%}
        <div class="row">
          <div class="col-xs-9 col-sm-6 col-md-3">
            {% bootstrap_field form.password1 %}
            {% bootstrap_field form.password2 %}
          </div>
        </div>
      </div>
      <div class="form-actions">
        <input type="submit" value="Salvar" class="btn btn-primary">
        <a href="{% url 'usuarios_list' escola.pk %}" class="btn btn-secondary">Cancelar</a>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
{% block extra_js %}
  {{ form.media }}
{% endblock extra_js %}
